:root {
	/*
	nginx/gunicorn will not do the regex substitutions right; this file is sent unaltered...
	so a hard-coded css is our fallback
	to (re)generate it use a default localhost instance:
		curl localhost:5000/css/x > notostyle.css
	+
		sed "s/hipparchiastyles.css/notostyle.css/" $SERVERPATH/server/sample_settings/htmlandcssstylesettings.py > $SERVERPATH/server/settings/htmlandcssstylesettings.py
	*/

	/* define the default FONTS that will have precedence over the served-if-necessary fonts
	that are delivered via @font-face below. NB: only Arial is likely to be pre-installed.
	The others can be downloaded from various locations. Arial is available on >95% of MacOS and PC systems? */
	--systemdefaultfont: "Fira";
	--greekfont: "yourfonthere_otherwise_fallbacktohipparchiahostedfonts";
	--latinfont: "yourfonthere_otherwise_fallbacktohipparchiahostedfonts";
	/* --systemdefaultfont: ArialUnicodeMS; */
	/* --systemdefaultfont: Alexander; */
	/* --systemdefaultfont: Arimo; */
	/* --systemdefaultfont: Asea; */
	/* --systemdefaultfont: Brill; */
	/* --systemdefaultfont: Cardo; */
	/* --systemdefaultfont: Cousine; */
	/* --systemdefaultfont: GentiumPlusCompact; */
	/* --systemdefaultfont: GFSOrpheusSans; [but the lunate sigma is ugly] */
 	/* --systemdefaultfont: GFSPorson-Regular; [but the lunate sigma is ugly] */
	/* --systemdefaultfont: IFAO-Grec-Unicode; */
	/* --systemdefaultfont: Interface; */
	/* --systemdefaultfont: Junicode; [but the lunate sigma is ugly] */
	/* --systemdefaultfont: KerkisSans; [but the lunate sigma is ugly] */
	/* --systemdefaultfont: SourceSansPro; [but the lunate sigma is ugly] */
	/* --systemdefaultfont: Ubuntu; */
	/* --systemdefaultfont: ZZforce_fallback_to_whatever_is_set_as_hipparchiasansstatic; */

	/* define COLORS by variable so you can change them all right here */
	/* formula to invert HEX: amount*(255-value)+(1-amount)*value */
	/* colorsys.hls_to_rgb(h, l, s) */

	--main-body-color: hsla(0, 0%, 97%, 1);
	--main-font-color: hsla(0, 0%, 6%, 1);
	--black: hsla(0, 0%, 0%, 1);
	--blue: hsla(240, 100%, 27%, 1);
	--brown: hsla(22, 22%, 26%, 1);
	--brtblue: hsla(236, 44%, 40%, 1);
	--brtgreen: hsla(120, 43%, 77%, 1);
    --copper: hsla(11, 53%, 30%);
	--deepblue: hsla(233, 77%, 26%, 1);
	--dkbabyblue: hsla(237, 43%, 57%, 1);
	--dkgreen: hsla(120, 80%, 20%, 1);
	--dkgrey: hsla(0, 0%, 33%, 1);
	--dkred: hsla(0, 34%, 23%);
	--dkteal: hsla(203, 22%, 26%, 1);
	--green: hsla(120, 100%, 27%, 1);
	--huedgrey: hsla(240, 6%, 49%, 1);
	--invisible: hsla(0, 100%, 100%, 0);
	--lessoffwhite: hsla(0, 0%, 98%, 1);
	--limegreen: hsla(71, 92%, 26%, 1);
	--ltbabyblue: hsla(200, 33%, 95%, 1);
	--ltgrey: hsla(0, 0%, 90%, 1);
	--midgrey: hsla(0, 0%, 67%, 1);
	--offwhite: hsla(0, 0%, 99%, 1);
	--orange: hsla(47, 100%, 30%, 1);
	--pink: hsla(0, 33%, 96%, 1);
    --plum: hsla(291, 15%, 38%);
	--red: hsla(346, 77%, 26%, 1);
	--rustedorange: hsla(23, 37%, 39%, 1);
	--sicklyyellow: hsl(45, 16%, 53%);
	--skyblue: hsla(205, 92%, 37%, 1);
	--teal: hsla(196, 14%, 39%, 1);
	--transparentgrey: hsla(0, 0%, 67%, .8);
	--vdkteal: hsla(196, 27%, 20%, 1);
	--vdkgrey: hsla(0, 0%, 20%, 1);
}

/*
    font swaps handled by cssformattingobject.py
    you also need to put 'bold' and 'italic' on the same CSS line if you want the secondary swap to happen right
    e.g.:
        font-weight: bold; font-style: italic;

    note that 'hipparchiasansstatic' need not really be sans...

 */

@font-face {
	font-family: 'hipparchiasansstatic';
	src: url('/static/ttf/FiraSans-Regular.ttf') format('truetype');
	}

@font-face {
	font-family: 'hipparchiamonostatic';
	src: url('/static/ttf/FiraMono-Regular.ttf') format('truetype');
	}

@font-face {
	font-family: 'hipparchiaobliquestatic';
	src: url('/static/ttf/FiraSans-Italic.ttf') format('truetype');
	}

@font-face {
	font-family: 'hipparchiacondensedstatic';
	src: url('/static/ttf/FiraSans-Thin.ttf') format('truetype');
	}

@font-face {
	font-family: 'hipparchiacondensedboldstatic';
	src: url('/static/ttf/HOSTEDFONTFAMILY_CNDENSEDBLD.ttf') format('truetype');
	}

@font-face {
	font-family: 'hipparchiacondenseditalicstatic';
	src: url('/static/ttf/FiraSans-ThinItalic.ttf') format('truetype');
	}

@font-face {
	font-family: 'hipparchiaboldstatic';
	src: url('/static/ttf/FiraSans-Bold.ttf') format('truetype');
	}

@font-face {
	font-family: 'hipparchiasemiboldstatic';
	src: url('/static/ttf/HOSTEDFONTFAMILY_SEMIBLD.ttf') format('truetype');
	}

@font-face {
	font-family: 'hipparchiathinstatic';
	src: url('/static/ttf/HOSTEDFONTFAMILY_THIN.ttf') format('truetype');
	}

@font-face {
	font-family: 'hipparchialightstatic';
	src: url('/static/ttf/FiraSans-ExtraLight.ttf') format('truetype');
	}

@font-face {
	font-family: 'hipparchiabolditalicstatic';
	src: url('/static/ttf/FiraSans-BoldItalic.ttf') format('truetype');
	}


body {
	background-color: var(--main-body-color);
	margin: 10px 10px 10px 10px;
	font-family: 'hipparchiasansstatic', var(--systemdefaultfont), sans-serif;
	color: var(--main-font-color);
	font-size: 100%;
	line-height: 1.4;
	}

.90degreerotate {
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	}

.activeoption {
    color: var(--dkteal);
    font-family: 'hipparchiamonostatic', monospace;
    }

.assigneddate {
	font-size: 85%;
	}

.authorsum, .quotesum, .sensesum, .phrasesum {
    padding-left: 5px;
    }

.baseform {
	color: var(--vdkgrey);
	font-style: italic; font-weight: bold;
	}

.baseformtranslation {
	color: var(--black);
	font-style: normal;
	font-weight: normal;
	}

.browsercite {
	color: var(--dkteal);
	font-weight: normal;
	}

.bold {
    font-weight: bold;
    }

.breakintext {
    font-size: 75%;
    font-style: italic;
    }

.center {
	display: block;
	text-align: center;
	}

.citation {
	font-size: 90%;
	}

.cityinfo, .provenance, .pubinfo, .regioninfo, .textdate {
	font-size: 85%;
	color: var(--rustedorange);
	text-align: center;
	}

.colorhighlight {
	color: var(--red);
	}

.coptic {
    color: var(--skyblue);
    }

.counter {
	color: var(--rustedorange);
	}

.crossreference {
	font-style: italic;
	color: var(--rustedorange);
	text-align: center;
	}

.currentlyviewing {
	text-align: left;
	color: var(--brtblue);
	padding-bottom: 0;
	}

.currentlyviewingauthor {
	font-weight: bold;
	}

.currentlyviewingwork {
	font-weight: bold; font-style: italic;
	}

.currentlyviewingcitation {
	font-weight: bold;
	}


.date{
    color: var(--red);
    }

.denominator{
	position: relative;
	bottom: -0.5em;
	font-size: 80%;
    }


/*
    stles coughed out by dictionary entries
		πρόϲ:
		{'dicthi rend_ital', 'levellabel3', 'dictref lang_greek targorder_U', 'level1', 'level_1', 'dictquote
		lang_greek', 'dictgram type_comp', 'dictdate', 'dictabbr', 'dictplacename', 'dicttr', 'dictpb',
		'dictitype lang_greek', 'level_2', 'dictlbl', 'levellabel1', 'dictunclickablebibl', 'dictbibtitle',
		'dictgramgrp', 'level2', 'dictcit', 'level_4', 'dictxr', 'dictorth lang_greek', 'level3', 'dictauthor',
		'dictetym lang_greek', 'dictpos', 'dictgram type_dialect', 'level_3', 'levellabel2', 'levellabel4',
		'dictforeign lang_greek'}

		bonus:
		{'dictitype', 'dicthi rend_ital', 'levellabel3', 'level1', 'dictnumber', 'level_1', 'level_5',
		'levellabel5', 'dictusg type_style', 'dictgen', 'dictorth lang_la', 'dictetym', 'dicttrans', 'dicttr',
		'dictquote lang_la', 'dictpb', 'level_2', 'levellabel1', 'dictunclickablebibl', 'level2', 'dictcb',
		'dictcit', 'level_4', 'level3', 'dictauthor', 'dictpos', 'level_3', 'levellabel2', 'levellabel4'}

 */

.dictauthor {
	/* color: var(--dkbabyblue); */
	font-weight: 600;
	}

.dictbiblscope {
	color: var(--dkbabyblue);
	font-style: normal;
}

.dictbibtitle {
	color: var(--dkbabyblue);
	font-style: italic;
}

.dictcase{
    font-weight: bold;
    }

.dictcit{
    }

.dictetym{
    }

.dictforeign {
    font-style: italic;
    }

.dictforeign.dictlang_greek {
	}

.dictgram.dicttype_dialect{
	font-weight: 600;
	color: var(--deepblue);
	}

.dictitype{
	font-weight: 600;
    color: var(--vdkgrey);
	}

.dicthi {
	/* definitions in the latin dictionary */
	font-weight: 600;
    color: var(--vdkgrey);
	}

.dicthi.dictrend_ital{
	/* definitions in the latin dictionary */
	font-weight: 600;
    color: var(--vdkgrey);
	}

.dictmood{
	font-weight: 600;
	color: var(--deepblue);
	}

.dictnumber{
	font-weight: 600;
	color: var(--deepblue);
	}

.dictorth {
	font-weight: 600;
    color: var(--dkteal);
	}

.dictorth.dictlang_la {
	font-weight: 600;
    color: var(--dkteal);
	}

.dictorth.dicttype_alt.dictlang_la {
	font-weight: 600;
    color: var(--teal);
	}

.dictorth.dictlang_greek {
	font-weight: 600;
    color: var(--dkteal);
	}

.dictper{
	font-weight: 600;
	color: var(--deepblue);
 	}

.dictquote {
	color: var(--black);
    font-style: italic;
	}

.dictquote.dictlang_greek {
	}

.dictquote.dictlang_la {
	}

.dictsense {
	padding: 10px;
	margin-top: 20px;
	}

.dicttns{
	font-weight: 600;
	color: var(--deepblue);
	}

.dicttr{
    font-weight: bold;
    color: var(--vdkgrey);
    }

.dicttrans{
    font-weight: bold;
    color: var(--vdkgrey);
    }

.dictusg{
    }

.dictusg.dicttype_style{
	font-weight: bold;
    color: var(--red);
    }

.dictionaryform {
	color: var(--dkteal);
	font-style: italic;
	font-weight: bold;
	}

.dictionaryheading {
	color: var(--rustedorange);
	font-weight: 600;
	font-size: 120%;
	text-shadow: 1px 1px 3px var(--transparentgrey);
	}

.dictrewritten_phrase {
	color: var(--plum);
}

.documentmetadatalabel {
    font-size: 85%;
	color: var(--rustedorange);
	font-weight: bold;
    }

.editorialmarker_angledbrackets {
    font-weight: normal;
    color: var(--limegreen);
    }

.editorialmarker_curlybrackets {
    font-weight: normal;
    color: var(--dkbabyblue);
    }

.editorialmarker_roundbrackets {
    color: var(--brown);
    font-weight: normal;
    }

.editorialmarker_squarebrackets {
    color: var(--huedgrey);
    }

.emph {
	font-weight: 600;
	color: var(--deepblue);
	}

.emphatic {
	font-weight: bold;
	padding: 20px;
	}

.epigraphical_text_after_correction {
	color: var(--red);
	font-style: italic;
	}

.epigraphical_text_inserted_after_erasure {
	color: var(--red);
	}

.erasedepigraphicaltext {
	text-decoration: line-through;
	}

.expanded_text {
	letter-spacing: 0.12em;
    font-weight: bold;
	}

.explanation {
	padding-left: 75px;
	}

.extrasmall {
    font-size: 45%
    }

.findnumber {
	font-weight: normal;
	color: var(--vdkteal);
	}

.flagged {
	border-bottom: 1px dotted darkred;
	}

.focusline {
	text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
	}

.foundauthor {
	}

.foundlocus {
	}

.foundlocus:hover{
    border-bottom: 1px dotted black;
	border-top: 1px dotted black;
	color: var(--dkbabyblue);
	text-shadow: 1px 1px 3px var(--transparentgrey);
	 }

.foundtext {
	color: var(--dkteal);
	}

.foundwork {
	font-style: italic;
	}

.greek {
	}

.highlight {
    text-shadow: 1px 1px 3px var(--transparentgrey);
	}

/*
	HMU FORMS

	a collection of styles to match formatting assertions in the original data
	see ltcurlybracketsubstitutes(), etc in HipparchiaBuilder

 */

.hmu_alternative_reading {
    color: var(--orange);
    font-style: italic;
    -webkit-text-decoration-style: wavy;
	-moz-text-decoration-style: wavy;
	text-decoration-style: wavy;
    }

.hmu_blank_quarter_spaces {
	margin-left: 0;
	}

.hmu_date_or_numeric_equivalent_of_date {
	/* Sought »hmu_date_or_numeric_equivalent_of_date«
	Searched 229,374 texts and found 0 passages (2.72s) */
	}

.hmu_discarded_form {
    text-decoration: line-through;
    }

.hmu_emendation_by_editor_of_text_not_obviously_incorrect {
	/* Sought »hmu_emendation_by_editor_of_text_not_obviously_incorrect«
	Searched 229,374 texts and found 0 passages (2.81s) */
	-webkit-text-decoration-style: wavy;
	-moz-text-decoration-style: wavy;
	text-decoration-style: wavy;
	}

.hmu_form_altered_by_scribe {
    color: var(--red);
    font-weight: bold; font-style: italic;
    }

.hmu_impression_of_stamp_on_papyrus {
	font-size: 125%;
	font-weight: bold;
	}

.hmu_latin_expanded_text {
	letter-spacing: 0.12em;
    font-weight: bold;
	}

.hmu_marginaltext{
	color: var(--dkgreen);
	font-size: 80%;
	font-style: italic;
	text-indent: -5px;
	padding-right: -5px;
	}

.hmu_mid_line_citation_boundary {
	padding: 50px;
	}

.hmu_papyrological_fraction{
	color: var(--red);
	font-style: italic;
}

.hmu_parenthesis_deletion_marker {
    text-decoration: line-through;
    }

.preferred_epigraphical_text_used {
	/* Sought »hmu_preferred_epigraphical_text_used«
	Searched 229,374 texts and found 0 passages (3.14s) */
	}

.hmu_rectified_form {
	text-decoration: underline;
	}

.hmu_scholium {
	/* Sought »hmu_scholium«
	Searched 229,374 texts and found 0 passages (2.26s) */
	font-style: italic;
	}

.hmu_seal_attached_to_papyrus {
	font-size: 125%;
	font-weight: bold;
	}

.stacked_text_lower {
	font-size: 80%;
    vertical-align: sub;
	}

.stacked_text_upper {
    vertical-align: super;
	font-size: 80%;
	}

.textual_lemma {
	font-style: italic;
	color: var(--blue);
	}

.hmu_title {
	font-weight: bold; font-style: italic;
	}

.hmu_unconventional_form_written_by_scribe {
    color: var(--sicklyyellow);
    font-stretch: condensed; font-style: italic;
    }

.homonym {
    color: var(--dkgrey);
    font-style: italic;
	}

.indented {
	padding-left: 10px;
	}

.infocell {
	vertical-align: top;
	}

.instructionmanual {
	padding: 20px;
	}

.italic {
	font-style: italic;
	}

.label {
	font-weight: 600;
	color: var(--vdkteal);
	padding-left: 25px;
	padding-right: 10px;
	}

.labelcell {
	font-weight: 600;
	color: var(--vdkteal);
	vertical-align: top;
	text-align: center;
	}

.largerthannormal {
	font-size: 115%;
	}

.latin {
	font-size: 90%;
	/* font-family: var(--latinfont), 'hipparchiacondensedstatic', sans-serif; */
	font-stretch: condensed;
	color: var(--blue);
	}

.letterbox {
	border-style: solid;
	border-width: 1px;
	}

.levellabel1 {
	font-weight: bold;
	font-size: 120%;
	color: var(--red);
	}

.levellabel2 {
	font-weight: bold;
	font-size: 100%;
	color: var(--red);
	}

.levellabel3 {
	font-weight: bold;
	color: var(--red);
	}

.levellabel4 {
	font-style: italic;
	color: var(--red);
	}

.levellabel5 {
	font-size: 85%;
	color: var(--red);
	}

.lexiconhighlight {
    color: var(--red);
    font-weight: bold;
    }

.lineover {
	text-decoration: overline;
	}

.linethrough {
    text-decoration: line-through;
    }

.loadoptions:hover {
	color: var(--midgrey);
	}

.locus {
	font-weight: normal;
	padding-left: 40px;
	padding-right: 20px;
	font-size: 85%;
	color: var(--huedgrey);
	}

.match, .proximate {
	color: var(--red);
	font-weight: normal;
	border: 1px dotted black;
	text-shadow: 1px 1px 3px var(--transparentgrey);
	}

.metrics{
	color: var(--black);
	/* font-family: 'hipparchiamonostatic', monospace; */
	font-size: 90%;
	font-style: italic;
	padding-left: 10px;
	}

.observed {
	color: var(--red);
	padding-right: 10px;
	}

.obsv {
	text-indent: -10px;
	padding-right: -10px;
	}

.optionlabel {
	border-top: 1px dotted var(--dkgrey);
	font-size: 70%;
	font-weight: bold;
	padding-left: 5px;
	padding-right: 10px;
	margin: 3px;
}

.optionitem {
	font-size: 70%;
	padding-left: 20px;
	padding-right: 10px;
	margin: 3px;
}

.outline {
	border: 1px dotted black;
	}

.overline {
	border-top: 1px var(--black);
	}

.overline_and_underline {
	/* Sought »hmu_overline_and_underline«
	Searched 235,999 texts and found 0 passages (21.62s)*/
	border-bottom: 1px var(--black);
	border-top: 1px var(--black);
	}
	
.pickedgenre {
	}

.pickedwork {
	font-style: italic;
	}

.picklabel {
	font-weight: bold; font-style: italic;
	}

.poetictext {
	font-style: italic;
	}

.possibility {
	font-size: 85%;
	margin-left: 30px;
    }

.prevalence {
    color: var(--deepblue);
    }

.progress {
	font-weight: bold;
	}

.pubeditor, .pubpress, .pubcity, .pubyear, .pubseries {
	font-weight: normal;
	font-size: 70%;
	}

.pubvolumename {
	font-size: 70%;
	font-style: italic;
	}

.quotedtext {
	font-style: italic;
	}

.red {
	color: var(--red);
	}

.romannumerals {
	font-variant: small-caps;
	color: var(--red);
	}

.sampleoutput {
	color: var(--dkteal);
	font-style: italic;
	}

.saveoptions:hover {
	color: var(--midgrey);
	}

.searchsel:hover {
	/* inactive color: #993354;
	text-shadow: 1px 1px var(--midgrey);
	*/ }

.selection:hover{
	color: var(--brtblue);
	text-shadow: 1px 1px 3px var(--transparentgrey);
	 }

.serviusformatting {
	font-style: italic;
	color: var(--copper);
	}

.sidenavigation {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--ltgrey);
    overflow-x: hidden;
    transition: 0.05s;
}

.sidenavigation .closebutton {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 18px;
    margin-left: 50px;
}

.small {
	font-size: 60%;
	}

.smallcapitals, .uncial {
	font-variant: small-caps;
	font-weight: normal;
	font-size: 110%;
    color: var(--deepblue);
	}

.smallerthannormal {
	font-size: 85%;
	}

.smlatcaps {
	font-variant: small-caps;
	font-size: 110%;
	}

.sought {
	color: var(--deepblue);
	font-family: 'hipparchiamonostatic', monospace;
    }

.speakers, .speaker {
	font-weight: bold;
	}

.strikethrough {
	text-decoration: line-through;
	}

.subscript {
    font-size: 80%;
    vertical-align: sub;
    }

.superscript {
    vertical-align: super;
	font-size: 80%;
	}

.textuallemma, .interlineartext, .interlinearmarginalia, .marginaltext {
	font-style: italic;
	color: var(--blue);
	}

.title {
	font-style: italic; font-weight: bold;
	}

.translation {
    font-size: 85%;
    font-style: italic;
    }

.ui-button {
	margin-bottom: 3px;
	}

.ui-helper-hidden-accessible {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px);
	}

.ui-icon ui-icon-arrowthick-1-e:hover{
	color: var(--brtblue);
	text-shadow: 1px 1px 3px var(--transparentgrey);
	 }

.ui-icon ui-icon-arrowthick-1-w:hover{
	color: var(--brtblue);
	text-shadow: 1px 1px 3px var(--transparentgrey);
	}

.undocumentedfontshift{
    text-decoration: underline;
    color: var(--huedgrey);
    }

.unhandledpercent{
	top: -0.5em;
	font-size: 80%;
	color: var(--huedgrey);
    }

.unhandledpound{
	top: -0.5em;
	font-size: 80%;
	color: var(--huedgrey);
    }

.unobtrusive{
	font-size: 60%;
	color: var(--huedgrey);
}

.verbanalysis tr:nth-child(2n+4){
	background: var(--ltgrey)
}

.verylarge {
	font-size: 140%;
	}

.wordcounts{
    font-size: 85%;
    }

.work {
	font-style: italic;
	font-weight: bold;
	}

#accentsactive, #accentsnotactive {
	padding-left: 0px;
	font-size: 120%;
	font-weight: bold;
	}

#activeoptions {
	position: fixed;
	top: 45px;
	right: 10px;
	font-size: 80%;
	}

#authorholdings {
	background-color: var(--offwhite);
	border: 1px dotted black;
	width: 50%;
	margin: auto;
	}

#bottommessage {
	position: fixed;
	width: 500px;
	margin-left: -250px;
	bottom: 5px;
	text-align: center;
	font-size: 250%;
	left: 50%;
	font-weight: bold;
	color: var(--skyblue);
}

#browserdialog {
	position: fixed;
	border-style: solid;
	border-width: 1px;
	border-color: var(--midgrey);
	top: 100px;
	right: 50px;
	box-shadow: 4px 4px 2px var(--transparentgrey);
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: var(--lessoffwhite);
	font-size: 105%;
	line-height: 1.1;
	}

#browsernavigationbuttons {
    margin: auto;
    text-align: center;
    padding-bottom: 5px;
    }

#clickforhelp {
	position: fixed;
	bottom: 10px;
	right: 10px;
	}

#currentuser {
	position: fixed;
	top: 10px;
	right: 10px;
	font-size: 66%;
}

#displayresults {
	padding: 10px;
	text-align: left;
}

#imagearea {
	text-align: center;
	padding: 10px;
	margin: auto;
	width: 100%;
}

#languageradio, #modeeradio {
	text-align: center;
	margin: auto;
	display: block;
	}

#lexica {
	position: fixed;
	bottom: 10px;
	left: 50%;
	transform: translateX(-50%);
	}

#lexicadialogtext{
	font-family: 'hipparchiasansstatic', var(--systemdefaultfont), sans-serif;
	font-size: 90%;
	}

#loadslots, #saveslots {
	padding-left: 3px;
	padding-bottom: 3px;
	}

#helptabs {
	position: fixed;
	top: 125px;
	right: 125px;
	left: 125px;
	bottom: 125px;
	box-shadow: 5px 5px 2px #999;
	padding: 10px;
	background-color: var(--lessoffwhite);
	overflow: auto;
	}

#outputbox {
	text-align: center;
	font-size: 90%;
	color: var(--dkteal);
	}

#parserdialog {
	/* off because jquery is doing the work position: float;
	box-shadow: 5px 5px 2px #999;
	padding: 10px;
	background-color: #fafafa;
	*/ }

#pollingdata {
	padding: 10px;
	text-align: left;
	color: var(--rustedorange);
	}

#savedprofiles {
	position: fixed;
	bottom: 50px;
	right: 10px;
	font-size: 100%;
	}

#searchfield, #uiclickfield, #selectionendpoint {
	text-align: center;
	padding-right: 20px;
	padding-left: 20px;
	}

#searchlistcontents, #genrelistcontents {
	text-align: left;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: var(--offwhite);
	border: 1px dotted black;
	width: 50%;
	margin: auto;
	}

#searchsummary {
	padding: 10px;
	text-align: left;
	color: var(--rustedorange);
	}

#selectionsandexclusions {
	width: 50%;
	margin: auto;
	text-align: center;
	}

#selectionstable {
	width: 50%;
	margin: auto;
	}

#selectionstable tbody td {
	font-size: 85%;
	}

#upperleftbuttons, #alt_upperleftbuttons {
	position: fixed;
	top: 5px;
	left: 5px;
	font-size: 75%;
	}

#sortresults-menu li{
	font-size: 70%;
	font-family: 'hipparchiasansstatic', var(--systemdefaultfont), sans-serif;
}

#toolbutton {
	position: fixed;
	bottom: 10px;
	left: 10px;
	}

#vectortable {
	padding: 10px;
	margin: auto;
}

#versioning {
	position: fixed;
	bottom: 10px;
	left: 10px;
	font-size: 75%;
	}

#wordsearchform {
	position: float;
	}

a.nounderline {
	text-decoration: none;
	}

a.nounderline:hover{
	border-bottom: 1px dotted black;
	border-top: 1px dotted black;
	color: var(--dkbabyblue);
	text-shadow: 1px 1px 3px var(--transparentgrey);
	 }

bibl {
	color: var(--dkbabyblue);
	border: 1px dotted var(--invisible);
	}

bibl:hover{
	border-bottom: 1px dotted black;
	border-top: 1px dotted black;
	text-shadow: 1px 1px 3px var(--transparentgrey);
	}

browser {
	font-size: 110%;
	color: var(--brtblue);
	}

caption {
	font-size: 120%;
	font-weight: bold;
	padding-bottom: 20px;
	}

code {
	font-size: 100%;
	color: var(--skyblue);
	font-family: 'hipparchiamonostatic', monospace;
	}

dictionaryentry{
    color: var(--rustedorange);
	font-weight: 600;
    }

dictionaryentry:hover{
	border-bottom: 1px dotted black;
	border-top: 1px dotted black;
	color: var(--dkbabyblue);
	font-weight: 600;
	text-shadow: 1px 1px 3px var(--transparentgrey);
	}

div.fourcolumn {
	-webkit-column-count: 4;
	/* Chrome, Safari, Opera */ -moz-column-count: 4;
	/* Firefox */ column-count: 4;
	}

div.threecolumn {
	-webkit-column-count: 3;
	/* Chrome, Safari, Opera */ -moz-column-count: 3;
	/* Firefox */ column-count: 3;
	}

fieldset {
	display: inline-block;
	border-width: 1px;
	font-size: 75%;
    color: var(--dkteal);
	background-color: hsla(0, 0%, 98%, 1);
	}

form {
	display: inline;
	}

formsummary{
    color: var(--rustedorange);
	font-size: 90%;
	font-weight: 600;
    }

formsummary:hover{
	border-bottom: 1px dotted black;
	border-top: 1px dotted black;
	color: var(--dkbabyblue);
	font-weight: 600;
	text-shadow: 1px 1px 3px var(--transparentgrey);
	}

hmutitle {
	font-weight: bold; font-style: italic;
	}

hmu_serviusformatting {
	font-style: italic;
	color: var(--dkgreen);
	}

hr.styled {
	border-top: 1px solid #8c8b8b;
	border-bottom: 1px solid #fff;
}

indexedlocation:hover{
	border-bottom: 1px dotted black;
	border-top: 1px dotted black;
	color: var(--dkbabyblue);
	text-shadow: 1px 1px 3px var(--transparentgrey);
	}

indexobserved:hover{
	border-bottom: 1px dotted black;
	border-top: 1px dotted black;
	color: var(--dkbabyblue);
	text-shadow: 1px 1px 3px var(--transparentgrey);
	}

input {
	text-align: center;
	padding: 5px;
	display: inline;
	}

latinfont {
	font-family: var(--latinfont), 'hipparchiasansstatic', sans-serif;
}

legend {
	text-align: center;
	}

lemmaheadword:hover{
	border-bottom: 1px dotted black;
	border-top: 1px dotted black;
	color: var(--dkbabyblue);
	text-shadow: 1px 1px 3px var(--transparentgrey);
	 }

li {
	padding-top: 1px;
	}

locus {
	display: block;
	padding-top: 20px;
	padding-bottom: 5px;
	}

observed:hover{
	border-bottom: 1px dotted black;
	border-top: 1px dotted black;
	color: var(--dkbabyblue);
	text-shadow: 1px 1px 3px var(--transparentgrey);
	}

p {
	font-family: 'hipparchiasansstatic', var(--systemdefaultfont), sans-serif;
	}

p.browsedline {
	line-height: 70%;
	}

p.lineoftext {
	line-height: 70%;
	}

p.level1 {}

p.level2 {
	padding-left: 15px;
	}

p.level3 {
	padding-left: 30px;
	}

p.level4 {
	padding-left: 45px;
	}

p.level5 {
	padding-left: 60px;
	}

pre {
    font-family: 'hipparchiamonostatic', monospace;
	color: var(--skyblue);
    }

sense {
	padding: 10px;
	margin-top: 20px;
	}

smallcode {
	font-size: 85%;
	color: var(--skyblue);
	font-family: 'hipparchiamonostatic', monospace;
	}

span.lat {
	font-style: italic;
	color: var(--vdkteal);
	}

speaker {
	font-weight: bold;
	}

table {
	text-align: left;
	font-weight: normal;
	}

table.morphtable {
	padding-top: 5px;
	padding-bottom: 5px;
	margin: 0 auto;
    display: block;
    font-size: 75%;
	}

table.navtable {
    padding-top: 10px;
    margin: auto;
    display: block;
    font-size: 75%;
    }

table.verbanalysis {
    padding-top: 15px;
    font-size: 75%;
	margin: 0 auto;
    }

table.showborders, td.showborders {
    border: 1px solid black;
    font-family: 'hipparchiamonostatic', monospace;
    }

td.alihnleft {
    text-align: left;
    }

td.alignright {
    text-align: right;
    }

td.browsedline {
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 8px;
	}

td.browserembeddedannotations {
	padding-right: 10px;
	padding-left: 15px;
	padding-bottom: 8px;
    color: var(--huedgrey);
	font-stretch: condensed;
    font-size: 80%;
    vertical-align: middle;
    }

td.dialectlabel {
	color: var(--red);
	font-weight: bold;
	font-size: 120%;
	text-transform: uppercase;
	}

td.voicelabel {
	font-weight: bold;
	font-size: 110%;
	}

td.moodlabel {
	font-weight: normal;
	font-size: 110%;
	}


td.documentmeta {
    padding-right: -20px;
    }

td.morphcell {
	padding-left: 5px;
	padding-right: 5px;
	}

td.morphcell.labelcell {
	font-weight: normal;
	}

td.morphcell.invisible {
	color: var(--invisible);
	}

td.tensecell {
	color: var(--huedgrey);
	font-weight: bold;
	}

td.textmakerembeddedannotations {
	padding-right: 10px;
	padding-left: 15px;
    color: var(--huedgrey);
	font-stretch: condensed;
    font-size: 80%;
    vertical-align: middle;
    }

td.browsercite {
	padding-right: 10px;
	padding-left: 10px;
    font-size: 85%;
	color: var(--huedgrey);
	}

td.count {
	color: var(--orange);
	text-align: center;
	}

td.crossreference {
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 16px;
	}

td.headword {
    font-weight: bold;
    color: var(--red);
    }

td.infocells {
	background-color: var(--ltbabyblue);
    text-align: center;
	}

td.infocellx {
	background-color: var(--pink);
    text-align: center;
	}

td.leftpad {
    padding-left: 10px;
    }

td.passages {
	font-weight: normal;
	}

td.textcrossreference {
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 16px;
	padding-bottom: 16px;
	text-align: left;
	}

td.textdate, td.regioninfo, td.cityinfo, td.pubinfo, td.provenance {
	padding-right: 10px;
	padding-left: 10px;
	text-align: left;
	}

td.word {
	font-weight: bold;
	}

th {
	padding: 5px;
	text-align: center;
	}

th.indextable {
    text-align: left;
    }

tr.nthrow{
    background-color: var(--ltgrey);
    }

transl {
	padding-right: 20px;
	}

ul {
	list-style-type: none;
	}

ul.forexample {
	list-style-type: lower-latin;
	padding-left: 100px;
	padding-bottom: 5px;
	}

ul.numbered {
	list-style-type: decimal;
	padding-left: 25px;
	padding-bottom: 5px;
	padding-top: 5px;
	}

ul.roman {
	list-style-type: lower-roman;
	padding-left: 25px;
	padding-bottom: 5px;
	}

.vectortable{
	width: 50%;
	margin: auto;
	padding: 5px;
}

unclickablebibl {
    color: var(--black);
    }

verbform:hover{
	border-bottom: 1px dotted black;
	border-top: 1px dotted black;
	color: var(--dkbabyblue);
	text-shadow: 1px 1px 3px var(--transparentgrey);
	}

lemmatizable {
	color: var(--red);
	}

lemmatizable:hover{
	border-bottom: 1px dotted black;
	border-top: 1px dotted black;
	color: var(--dkbabyblue);
	text-shadow: 1px 1px 3px var(--transparentgrey);
	}

dictionaryidsearch {
	color: var(--red);
	}

dictionaryidsearch:hover{
	border-bottom: 1px dotted black;
	border-top: 1px dotted black;
	color: var(--dkbabyblue);
	text-shadow: 1px 1px 3px var(--transparentgrey);
	}

a.parsing {
	text-decoration: none;
	}

a.parsing:hover{
	border-bottom: 1px dotted black;
	border-top: 1px dotted black;
	color: var(--dkbabyblue);
	text-shadow: 1px 1px 3px var(--transparentgrey);
	}