:root {
	/* define the default FONTS that will have precedence over the served-if-necessary fonts
	that are delivered via @font-face below. NB: only Arial is likely to be pre-installed.
	The others can be downloaded from various locations. Arial is available on >95% of MacOS and PC systems? */
	--systemdefaultfont: DEFAULTLOCALFONTWILLBESUPPLIEDFROMCONFIGFILE;
	--greekfont: DEFAULTLOCALGREEKFONTWILLBESUPPLIEDFROMCONFIGFILE;
	--latinfont: DEFAULTLOCALNONGREEKFONTWILLBESUPPLIEDFROMCONFIGFILE;
	/* --systemdefaultfont: ArialUnicodeMS; */
	/* --systemdefaultfont: Alexander; */
	/* --systemdefaultfont: Arimo; */
	/* --systemdefaultfont: Asea; */
	/* --systemdefaultfont: Brill; */
	/* --systemdefaultfont: Cardo; */
	/* --systemdefaultfont: Cousine; */
	/* --systemdefaultfont: GentiumPlusCompact; */
	/* --systemdefaultfont: GFSOrpheusSans; [but the lunate sigma is ugly] */
 	/* --systemdefaultfont: GFSPorson-Regular; [but the lunate sigma is ugly] */
	/* --systemdefaultfont: IFAO-Grec-Unicode; */
	/* --systemdefaultfont: Interface; */
	/* --systemdefaultfont: Junicode; [but the lunate sigma is ugly] */
	/* --systemdefaultfont: KerkisSans; [but the lunate sigma is ugly] */
	/* --systemdefaultfont: SourceSansPro; [but the lunate sigma is ugly] */
	/* --systemdefaultfont: Ubuntu; */
	/* --systemdefaultfont: ZZforce_fallback_to_whatever_is_set_as_hipparchiasansstatic; */

	/* define COLORS by variable so you can change them all right here */
	--main-body-color: hsla(0, 0%, 97%, 1);
	--main-font-color: hsla(0, 0%, 6%, 1);
	--black: hsla(0, 0%, 0%, 1);
	--blue: hsla(240, 100%, 27%, 1);
	--brown: hsla(22, 22%, 26%, 1);
	--brtblue: hsla(236, 44%, 40%, 1);
	--brtgreen: hsla(120, 43%, 77%, 1);
	--deepblue: hsla(233, 77%, 26%, 1);
	--dkbabyblue: hsla(237, 43%, 57%, 1);
	--dkgreen: hsla(120, 80%, 20%, 1);
	--dkgrey: hsla(0, 0%, 33%, 1);
	--dkteal: hsla(203, 22%, 26%, 1);
	--green: hsla(120, 100%, 27%, 1);
	--huedgrey: hsla(240, 6%, 49%, 1);
	--lessoffwhite: hsla(0, 0%, 98%, 1);
	--limegreen: hsla(71, 92%, 26%, 1);
	--ltbabyblue: hsla(200, 33%, 95%, 1);
	--ltgrey: hsla(0, 0%, 90%, 1);
	--midgrey: hsla(0, 0%, 67%, 1);
	--offwhite: hsla(0, 0%, 99%, 1);
	--orange: hsla(47, 100%, 30%, 1);
	--pink: hsla(0, 33%, 96%, 1);
	--red: hsla(346, 77%, 26%, 1);
	--rustedorange: hsla(23, 37%, 39%, 1);
	--sicklyyellow: hsla(44, 22%, 66%, 1);
	--skyblue: hsla(205, 92%, 37%, 1);
	--teal: hsla(196, 14%, 39%, 1);
	--transparentgrey: hsla(0, 0%, 67%, .8);
	--vdkteal: hsla(196, 27%, 20%, 1);
}

/* COLOR USE OVERVIEW

--black
    .match,
    .metrics
    .overline
    .overunder
    .proximate
    #authorholdings
    #searchlistcontents
--blue
    .interlineartext
    .interlinearmarginalia
    .marginaltext
    .textuallemma
    orth
--brown
    .editorialmarker_roundbrackets
    hmu_roman_in_a_greek_text
--brtblue
    .currentlyviewing
    .ui-icon ui-icon-arrowthick-1-e:hover
    .ui-icon ui-icon-arrowthick-1-w:hover
    browser
--brtgreen
    .loadoptions:hover
--deepblue
    .emph
    .prevalence
    .sought
--dkbabyblue
    .editorialmarker_curlybrackets
    .foundlocus:hover
    .selection:hover
    author
    bibl:hover
    indexedlocation:hover
    indexobserved:hover
    observed:hover
--dkgreen
    .marginaltext
--dkgrey
    .homonym
--dkteal
    .activeoption
    .browsercite
    .dictionaryform
    .foundtext
    .sampleoutput
    #outputbox
    span.lat
--huedgrey
    .editorialmarker_squarebrackets
    .unhandledpercent
    .unhandledpound
    td.embeddedannotations
--lessoffwhite
    #browserdialog
    #helptabs
--limegreen
    .editorialmarker_angledbrackets
    bibl
    bibl:hover
--ltbabyblue
    td.infocells
--ltgrey
    tr.nthrow
--midgrey
    .foundlocus:hover
    .searchsel:hover
    .selection:hover
    .ui-icon ui-icon-arrowthick-1-e:hover
    .ui-icon ui-icon-arrowthick-1-w:hover
    bibl:hover
    indexedlocation:hover
    indexobserved:hover
    observed:hover
--offwhite
    #authorholdings
    #searchlistcontents
    #genrelistcontents
--orange
    td.count
    hmu_alternative_reading
--pink
    .saveoptions:hover
    #clearselections:hover
    td.infocell
--red
    .colorhighlight
    .date
    .focusline
    .highlight
    .levellabel1-4
    .observed
    .romannumerals
    td.headword
--rustedorange
    .crossreference
    .dictionaryheading
    .editorialmarker_angledquotes
    .textdate
    #searchsummary
    #pollingdata
--sicklyyellow
    hmu_unconventional_form_written_by_scribe
--skyblue
    code
    smallcode
--teal
--transparentgrey
    [text-shadows]
--vdkteal
    .findnumber
    .label
    .labelcell
    span.lat
*/


@font-face {
	font-family: 'hipparchiasansstatic';
	/*noinspection CssUnknownTarget,CssUnknownTarget,CssUnknownTarget*/
	src: url('/static/ttf/HOSTEDFONTFAMILY_REGULAR.ttf') format('truetype');
	}

@font-face {
	font-family: 'hipparchiamonostatic';
	/*noinspection CssUnknownTarget,CssUnknownTarget,CssUnknownTarget*/
	src: url('/static/ttf/HOSTEDFONTFAMILY_MONO.ttf') format('truetype');
	}

@font-face {
	font-family: 'hipparchiaobliquestatic';
	/*noinspection CssUnknownTarget,CssUnknownTarget,CssUnknownTarget*/
	src: url('/static/ttf/HOSTEDFONTFAMILY_OBLIQUE.ttf') format('truetype');
	}

@font-face {
	font-family: 'hipparchiacondensedstatic';
	/*noinspection CssUnknownTarget,CssUnknownTarget,CssUnknownTarget*/
	src: url('/static/ttf/HOSTEDFONTFAMILY_CONDENSED.ttf') format('truetype');
	}

@font-face {
	font-family: 'hipparchiaboldstatic';
	/*noinspection CssUnknownTarget,CssUnknownTarget,CssUnknownTarget*/
	src: url('/static/ttf/HOSTEDFONTFAMILY_BOLD.ttf') format('truetype');
	}

@font-face {
	font-family: 'hipparchiathinstatic';
	/*noinspection CssUnknownTarget,CssUnknownTarget,CssUnknownTarget*/
	src: url('/static/ttf/HOSTEDFONTFAMILY_THIN.ttf') format('truetype');
	}

@font-face {
	font-family: 'hipparchialightstatic';
	/*noinspection CssUnknownTarget,CssUnknownTarget,CssUnknownTarget*/
	src: url('/static/ttf/HOSTEDFONTFAMILY_LIGHT.ttf') format('truetype');
	}

body {
	background-color: var(--main-body-color);
	margin: 10px 10px 10px 10px;
	font-family: var(--systemdefaultfont), 'hipparchiasansstatic', sans-serif;
	color: var(--main-font-color);
	font-size: 100%;
	line-height: 1.4;
	}

.90degreerotate {
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	}

.activeoption {
    color: var(--dkteal);
    font-family: 'hipparchiamonostatic', monospace;
    }

.assigneddate {
	font-size: 85%;
	}

.authorsum, .quotesum, .sensesum {
    padding-left: 5px;
    }

.browsercite {
	color: var(--dkteal);
	font-weight: normal;
	}

.bold {
    font-weight: bold;
    }

.breakintext {
    font-size: 75%;
    font-style: italic;
    }

.center {
	display: block;
	text-align: center;
	}

.citation {
	font-size: 90%;
	}

.cityinfo, .provenance, .pubinfo, .regioninfo, .textdate {
	font-size: 85%;
	color: var(--rustedorange);
	text-align: center;
	}

.colorhighlight {
	color: var(--red);
	}

.coptic {
    color: var(--skyblue);
    }

.crossreference {
	font-style: italic;
	color: var(--rustedorange);
	text-align: center;
	}

.currentlyviewing {
	text-align: left;
	font-weight: bold;
	color: var(--brtblue);
	padding-bottom: 0;
	}

.date{
    color: var(--red);
    }

.denominator{
	position: relative;
	bottom: -0.5em;
	font-size: 80%;
    }

.dictionaryform {
	color: var(--dkteal);
	font-style: italic;
	font-weight: bold;
	}

.dictionaryheading {
	color: var(--rustedorange);
	font-weight: 600;
	font-size: 120%;
	text-shadow: 1px 1px 3px var(--transparentgrey);
	}

.documentmetadatalabel {
    font-size: 85%;
	color: var(--rustedorange);
	font-weight: 600;
    }

.editorialmarker_angledbrackets {
    font-weight: normal;
    color: var(--limegreen);
    }

.editorialmarker_curlybrackets {
    font-weight: normal;
    color: var(--dkbabyblue);
    }

.editorialmarker_roundbrackets {
    color: var(--brown);
    font-weight: normal;
    }

.editorialmarker_squarebrackets {
    color: var(--huedgrey);
    }

.emph {
	font-weight: 600;
	color: var(--deepblue);
	}

.emphatic {
	font-weight: bold;
	padding: 20px;
	}

.erasedepigraphicaltext {
	text-decoration: line-through;
	}

.explanation {
	padding-left: 75px;
	}

.extrasmall {
    font-size: 45%
    }

.findnumber {
	font-weight: normal;
	color: var(--vdkteal);
	}

.focusline {
	text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
	}

.foundauthor {
	}

.foundlocus {
	}

.foundlocus:hover{
	color: var(--dkbabyblue);
	text-shadow: 1px 1px 3px var(--transparentgrey);
	 }

.foundtext {
	color: var(--dkteal);
	}

.foundwork {
	font-style: italic;
	}

.greek {
	}

.highlight {
    text-shadow: 1px 1px 3px var(--transparentgrey);
	}

/*
	HMU FORMS

	a collection of styles to match formatting assertions in the original data
	see ltcurlybracketsubstitutes(), etc in HipparchiaBuilder

 */

.hmu_alternative_reading {
    color: var(--orange);
    font-style: italic;
    }

.hmu_blank_quarter_spaces {
	margin-left: 0;
	}

.hmu_date_or_numeric_equivalent_of_date {
	/* Sought »hmu_date_or_numeric_equivalent_of_date«
	Searched 229,374 texts and found 0 passages (2.72s) */
	}

.hmu_discarded_form {
    text-decoration: line-through;
    }

.hmu_emendation_by_editor_of_text_not_obviously_incorrect {
	/* Sought »hmu_emendation_by_editor_of_text_not_obviously_incorrect«
	Searched 229,374 texts and found 0 passages (2.81s) */
	-webkit-text-decoration-style: wavy;
	-moz-text-decoration-style: wavy;
	text-decoration-style: wavy;
	}

.hmu_epigraphical_text_after_correction {
	color: var(--red);
	font-style: italic;
	}

.hmu_epigraphical_text_inserted_after_erasure {
	color: var(--red);
	}

.hmu_expanded_text {
	letter-spacing: 0.12em;
    font-weight: 600;
	}

.hmu_form_altered_by_scribe {
    font-style: italic;
    font-weight: 600;
    }

.hmu_impression_of_stamp_on_papyrus {
	font-size: 125%;
	font-weight: 600;
	}

.hmu_latin_expanded_text {
	letter-spacing: 0.12em;
    font-weight: 600;
	}

.hmu_marginaltext{
	color: var(--dkgreen);
	font-size: 80%;
	font-style: italic;
	text-indent: -5px;
	padding-right: -5px;
	}

.hmu_mid_line_citation_boundary {
	padding: 50px;
	}

.hmu_overline_and_underline {
	/* Sought »hmu_overline_and_underline«
	Searched 235,999 texts and found 0 passages (21.62s)*/
	border-bottom: 1px var(--black);
	border-top: 1px var(--black);
	}

.hmu_papyrological_fraction{
	color: var(--red);
	font-style: italic;
}

.hmu_parenthesis_deletion_marker {
    text-decoration: line-through;
    }

.hmu_preferred_epigraphical_text_used {
	/* Sought »hmu_preferred_epigraphical_text_used«
	Searched 229,374 texts and found 0 passages (3.14s) */
	}

.hmu_rectified_form {
	text-decoration: underline;
	}

.hmu_scholium {
	/* Sought »hmu_scholium«
	Searched 229,374 texts and found 0 passages (2.26s) */
	font-style: italic;
	}

.hmu_seal_attached_to_papyrus {
	font-size: 125%;
	font-weight: 600;
	}

.hmu_stacked_text_lower {
	font-size: 80%;
    vertical-align: sub;
	}

.hmu_stacked_text_upper {
    vertical-align: super;
	font-size: 80%;
	}

.hmu_textual_lemma {
	font-style: italic;
	color: var(--blue);
	}

.hmu_title {
	font-weight: bold;
	font-style: italic;
	}

.hmu_unconventional_form_written_by_scribe {
    color: var(--sicklyyellow);
    }

.homonym {
    color: var(--dkgrey);
    font-style: italic;
	}

.indented {
	padding-left: 10px;
}

.infocell {
	vertical-align: top;
	}

.instructionmanual {
	padding: 20px;
	}

.italic {
	font-style: italic;
	}

.label {
	font-weight: 600;
	color: var(--vdkteal);
	padding-left: 25px;
	padding-right: 10px;
	}

.labelcell {
	font-weight: 600;
	color: var(--vdkteal);
	vertical-align: top;
	text-align: center;
	}

.largerthannormal {
	font-size: 115%;
	}

.latin {
	font-size: 90%;
	/* font-family: var(--latinfont), 'hipparchiacondensedstatic', sans-serif; */
	font-family: 'hipparchiacondensedstatic', sans-serif;
	font-stretch: condensed;
	color: var(--blue);
	}

.letterbox {
	border-style: solid;
	border-width: 1px;
	}

.levellabel1 {
	font-weight: bold;
	font-size: 120%;
	color: var(--red);
	}

.levellabel2 {
	font-weight: bold;
	font-size: 100%;
	color: var(--red);
	}

.levellabel3 {
	font-weight: bold;
	color: var(--red);
	}

.levellabel4 {
	font-style: italic;
	color: var(--red);
	}

.lexiconhighlight {
    color: var(--red);
    font-weight: bold;
    }

.lineover {
	text-decoration: overline;
	}

.linethrough {
    text-decoration: line-through;
    }

.loadoptions:hover {
	color: var(--midgrey);
	}

.locus {
	font-weight: normal;
	padding-left: 40px;
	padding-right: 20px;
	font-size: 85%;
	color: var(--huedgrey);
	}

.match, .proximate {
	color: var(--red);
	font-weight: normal;
	border: 1px dotted black;
	text-shadow: 1px 1px 3px var(--transparentgrey);
	}

.metrics{
	color: var(--black);
	/* font-family: 'hipparchiamonostatic', monospace; */
	font-size: 90%;
	font-style: italic;
	padding-left: 10px;
	}

.observed {
	color: var(--red);
	padding-right: 10px;
	}

.obsv {
	text-indent: -10px;
	padding-right: -10px;
	}

.optionlabel {
	border-top: 1px dotted var(--dkgrey);
	font-size: 70%;
	font-weight: 600;
	padding-left: 5px;
	padding-right: 10px;
	margin: 3px;
}

.optionitem {
	font-size: 70%;
	padding-left: 20px;
	padding-right: 10px;
	margin: 3px;
}

.overline {
	border-top: 1px var(--black);
	}

.overline {
	text-decoration: overline;
	}

.pickedgenre {
	}

.pickedwork {
	font-style: italic;
	}

.picklabel {
	font-weight: bold;
	font-style: italic;
	}

.poetictext {
	font-style: italic;
	}

.possibility {
    }

.prevalence {
    color: var(--deepblue);
    }

.progress {
	font-weight: bold;
	}

.pubeditor, .pubpress, .pubcity, .pubyear, .pubseries {
	font-size: 70%;
	}

.pubvolumename {
	font-size: 70%;
	font-style: italic;
	}

.quotedtext {
	font-style: italic;
	}

.romannumerals {
	font-variant: small-caps;
	color: var(--red);
	}

.sampleoutput {
	color: var(--dkteal);
	font-style: italic;
	}

.saveoptions:hover {
	color: var(--midgrey);
	}

.searchsel:hover {
	/* inactive color: #993354;
	text-shadow: 1px 1px var(--midgrey);
	*/ }

.selection:hover{
	color: var(--brtblue);
	text-shadow: 1px 1px 3px var(--transparentgrey);
	 }

.serviusformatting {
	font-style: italic;
	}

.sidenavigation {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--ltgrey);
    overflow-x: hidden;
    transition: 0.05s;
}

.sidenavigation .closebutton {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 18px;
    margin-left: 50px;
}

.small {
	font-size: 60%;
	}

.smallcapitals, .uncial {
	font-variant: small-caps;
	}

.smallerthannormal {
	font-size: 85%;
	}

.smlatcaps {
	font-variant: small-caps;
	font-size: 110%;
	}

.sought {
	color: var(--deepblue);
	font-family: 'hipparchiamonostatic', monospace;
    }

.speakers, .speaker {
	font-weight: bold;
	}

.strikethrough {
	text-decoration: line-through;
	}

.subscript {
    font-size: 80%;
    vertical-align: sub;
    }

.superscript {
    vertical-align: super;
	font-size: 80%;
	}

.textuallemma, .interlineartext, .interlinearmarginalia, .marginaltext {
	font-style: italic;
	color: var(--blue);
	}

.title {
	font-style: italic;
	font-weight: bold;
	}

.translation {
    font-size: 85%;
    font-style: italic;
    }

.ui-button {
	margin-bottom: 3px;
	}

.ui-helper-hidden-accessible {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px);
	}

.ui-icon ui-icon-arrowthick-1-e:hover{
	color: var(--brtblue);
	text-shadow: 1px 1px 3px var(--transparentgrey);
	 }

.ui-icon ui-icon-arrowthick-1-w:hover{
	color: var(--brtblue);
	text-shadow: 1px 1px 3px var(--transparentgrey);
	}

.undocumentedfontshift{
    text-decoration: underline;
    color: var(--huedgrey);
    }

.unhandledpercent{
	top: -0.5em;
	font-size: 80%;
	color: var(--huedgrey);
    }

.unhandledpound{
	top: -0.5em;
	font-size: 80%;
	color: var(--huedgrey);
    }

.wordcounts{
    font-size: 85%;
    }

.work {
	font-style: italic;
	font-weight: bold;
	}

#accentsactive, #accentsnotactive {
	padding-left: 0px;
	font-size: 120%;
	font-weight: bold;
	}

#activeoptions {
	position: fixed;
	top: 15px;
	right: 15px;
	font-size: 80%;
	}

#authorholdings {
	background-color: var(--offwhite);
	border: 1px dotted black;
	width: 50%;
	margin: auto;
	}

#browserdialog {
	position: fixed;
	border-style: solid;
	border-width: 1px;
	border-color: var(--midgrey);
	top: 100px;
	right: 50px;
	box-shadow: 4px 4px 2px var(--transparentgrey);
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: var(--lessoffwhite);
	font-size: 115%;
	line-height: 1.1;
	}

#browsernavigationbuttons {
    margin: auto;
    text-align: center;
    padding-bottom: 5px;
    }

#clickforhelp {
	position: fixed;
	bottom: 10px;
	right: 15px;
	}

#displayresults {
	padding: 10px;
	text-align: left;
}

#imagearea {
	text-align: center;
	padding: 10px;
	margin: auto;
	width: 100%;
}

#languageradio, #modeeradio {
	text-align: center;
	margin: auto;
	display: block;
	}

#lexica {
	position: fixed;
	bottom: 10px;
	left: 50%;
	transform: translateX(-50%);
	}

#loadslots, #saveslots {
	padding-left: 3px;
	padding-bottom: 3px;
	}

#helptabs {
	position: fixed;
	top: 125px;
	right: 125px;
	left: 125px;
	bottom: 125px;
	box-shadow: 5px 5px 2px #999;
	padding: 10px;
	background-color: var(--lessoffwhite);
	overflow: auto;
	}

#outputbox {
	text-align: center;
	font-size: 90%;
	color: var(--dkteal);
	}

#parserdialog {
	/* off because jquery is doing the work position: float;
	box-shadow: 5px 5px 2px #999;
	padding: 10px;
	background-color: #fafafa;
	*/ }

#pollingdata {
	padding: 10px;
	text-align: left;
	color: var(--rustedorange);
	}

#savedprofiles {
	position: fixed;
	bottom: 50px;
	right: 15px;
	font-size: 100%;
	}

#searchfield, #uiclickfield {
	text-align: center;
	padding-right: 20px;
	padding-left: 20px;
	}

#searchlistcontents, #genrelistcontents {
	text-align: left;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: var(--offwhite);
	border: 1px dotted black;
	width: 50%;
	margin: auto;
	}

#searchsummary {
	padding: 10px;
	text-align: left;
	color: var(--rustedorange);
	}

#selectionsandexclusions {
	width: 50%;
	margin: auto;
	text-align: center;
	}

#selectionstable {
	width: 50%;
	margin: auto;
	}

#selectionstable tbody td {
	font-size: 85%;
	}

#upperleftbuttons, #alt_upperleftbuttons {
	position: fixed;
	top: 5px;
	left: 5px;
	font-size: 75%;
	}

#sortresults-menu li{
	font-size: 70%;
	font-family: var(--systemdefaultfont), 'hipparchiasansstatic', sans-serif;
}

#toolbutton {
	position: fixed;
	bottom: 10px;
	left: 10px;
	}

#vectortable {
	padding: 10px;
	margin: auto;
}

#wordsearchform {
	position: float;
	}

analysis {
	font-style: italic;
	}

author {
	color: var(--dkbabyblue);
	}

bibl {
	color: var(--limegreen);
	}

bibl:hover{
	color: var(--dkbabyblue);
	text-shadow: 1px 1px 3px var(--transparentgrey);
	}

browser {
	color: var(--brtblue);
	}

caption {
	font-size: 120%;
	font-weight: bold;
	padding-bottom: 20px;
	}

code {
	font-size: 100%;
	color: var(--skyblue);
	font-family: 'hipparchiamonostatic', monospace;
	}

dictionaryentry{
    color: var(--rustedorange);
    }

dictionaryentry:hover{
	color: var(--dkbabyblue);
	text-shadow: 1px 1px 3px var(--transparentgrey);
	}

div.fourcolumn {
	-webkit-column-count: 4;
	/* Chrome, Safari, Opera */ -moz-column-count: 4;
	/* Firefox */ column-count: 4;
	}

div.threecolumn {
	-webkit-column-count: 3;
	/* Chrome, Safari, Opera */ -moz-column-count: 3;
	/* Firefox */ column-count: 3;
	}

etym {
    /*one of many dictionary tags: foreign|orth|pron|quote|gen|itype|etym|ref */
    color: var(--dkgrey);
    }

fieldset {
	display: inline-block;
	border-width: 1px;
	font-size: 75%;
    color: var(--dkteal);
	background-color: hsla(0, 0%, 98%, 1);
	}

foreign {
    font-style: italic;
    }

form {
	display: inline;
	}

gen {
    /* should probably match orth */
	color: var(--blue);
    }

gramgrp {
    color: var(--dkgrey);
    font-weight: bold;
    }

gramm {
    color: var(--dkgrey);
    font-weight: bold;
    }

greekfont {
	font-family: var(--greekfont), 'hipparchiasansstatic', sans-serif;
}


hi {
    font-weight: bold;
    color: var(--vdkteal);
    }

indexedlocation:hover{
	color: var(--dkbabyblue);
	text-shadow: 1px 1px 3px var(--transparentgrey);
	 }

indexobserved:hover{
	color: var(--dkbabyblue);
	text-shadow: 1px 1px 3px var(--transparentgrey);
	}

input {
	text-align: center;
	padding: 5px;
	display: inline;
	}

itype {
	color: var(--blue);
	}

latinfont {
	font-family: var(--latinfont), 'hipparchiasansstatic', sans-serif;
}

legend {
	text-align: center;
	}

lemmaheadword:hover{
	color: var(--dkbabyblue);
	text-shadow: 1px 1px 3px var(--transparentgrey);
	 }

li {
	padding-top: 1px;
	}

locus {
	display: block;
	padding-top: 20px;
	padding-bottom: 5px;
	}

observed:hover{
	color: var(--dkbabyblue);
	text-shadow: 1px 1px 3px var(--transparentgrey);
	}

orth {
	color: var(--blue);
	}

p.level1 {}

p.level2 {
	padding-left: 15px;
	}

p.level3 {
	padding-left: 30px;
	}

p.level4 {
	padding-left: 45px;
	}

pre {
    font-family: 'hipparchiamonostatic', monospace;
    }

pron {
    font-style: italic;
    }

quote, orth {
	font-style: italic;
	}

sense {
	padding: 10px;
	margin-top: 20px;
	}

smallcode {
	font-size: 85%;
	color: var(--skyblue);
	font-family: 'hipparchiamonostatic', monospace;
	}

span.lat {
	font-style: italic;
	color: var(--vdkteal);
	}

speaker {
	font-weight: bold;
	}

table {
	text-align: left;
	font-weight: normal;
	}

table.navtable {
    padding-top: 10px;
    margin: auto;
    display: block;
    font-size: 75%;
    }

table.showborders, td.showborders {
    border: 1px solid black;
    font-family: 'hipparchiamonostatic', monospace;
    }

td.alihnleft {
    text-align: left;
    }

td.alignright {
    text-align: right;
    }

td.browsedline {
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 8px;
	}

td.browserembeddedannotations {
	padding-right: 10px;
	padding-left: 15px;
	padding-bottom: 8px;
    color: var(--huedgrey);
    font-family: 'hipparchiacondensedstatic', sans-serif;
	font-stretch: condensed;
    font-size: 80%;
    vertical-align: middle;
    }

td.documentmeta {
    padding-right: -20px;
    }

td.textmakerembeddedannotations {
	padding-right: 10px;
	padding-left: 15px;
    color: var(--huedgrey);
    font-family: 'hipparchiacondensedstatic', sans-serif;
	font-stretch: condensed;
    font-size: 80%;
    vertical-align: middle;
    }

td.browsercite {
	padding-right: 10px;
	padding-left: 10px;
    font-size: 85%;
	color: var(--huedgrey);
	}

td.count {
	color: var(--orange);
	text-align: center;
	}

td.crossreference {
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 16px;
	}

td.headword {
    font-weight: bold;
    color: var(--red);
    }

td.infocells {
	background-color: var(--ltbabyblue);
    text-align: center;
	}

td.infocellx {
	background-color: var(--pink);
    text-align: center;
	}

td.leftpad {
    padding-left: 10px;
    }

td.passages {
	font-weight: normal;
	}

td.textcrossreference {
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 16px;
	padding-bottom: 16px;
	text-align: left;
	}

td.textdate, td.regioninfo, td.cityinfo, td.pubinfo, td.provenance {
	padding-right: 10px;
	padding-left: 10px;
	text-align: left;
	}

td.word {
	font-weight: bold;
	}

th {
	padding: 5px;
	text-align: center;
	}

th.indextable {
    text-align: left;
    }

tr.nthrow{
    background-color: var(--ltgrey);
    }

transl {
	padding-right: 20px;
	}

ul {
	list-style-type: none;
	}

ul.forexample {
	list-style-type: lower-latin;
	padding-left: 100px;
	padding-bottom: 5px;
	}

ul.numbered {
	list-style-type: decimal;
	padding-left: 25px;
	padding-bottom: 5px;
	padding-top: 5px;
	}

ul.roman {
	list-style-type: lower-roman;
	padding-left: 25px;
	padding-bottom: 5px;
	}

unclickablebibl {
    color: var(--black);
    }

usg {
    font-weight: bold;
    color: var(--red);
    }

worktitle {
	font-style: italic;
	}