# python
*.pyc
server/settings/
zz_*
config.py
.DS_Store

# 3rd party projects
j*js
ui-icons*
*.ttf
j*css
server/static/ttf/LICEN*
server/static/ttf/READ*

# server/static/3d/
# server/experimental/

# IDE
.idea/