
Regular expressions allow you to search for patterns and to use wildcards. Regex is a dark art unto itself.
Consult the <a href="https://www.postgresql.org/docs/9.6/static/functions-matching.html">manual directly</a>.
Or consider looking at a <a href="https://github.com/zeeshanu/learn-regex">tutorial</a>.
Regex searching remains a bit glitchy given the inherent complexity of regex itself when combined with the complex
internal structure of the data you are searching: double-checking your results is recommended.
<br /><br />
The more salient things to know/use:
<ul class="forexample">
    <li><code>[abc]</code> brackets a set of acceptable characters to look for in the next position: a, or b, or c.
        <code>lauda[st]</code> will find <span class="lat">laudas</span> or <span class="lat">laudat</span> but not <span class="lat">laudare</span>. </li>
    <li><code>[^abc]</code> brackets a set of characters to exclude in the next position: not a, nor b, nor c.
        <code>lauda[^t]</code> is a search that refuses to find <span class="lat">laudat</span>, but it will find <span class="lat">laudant</span>,
        <span class="lat">laudandum</span>, and <span class="lat">laudasti</span>.</li>
    <li><code>(a|b|abc)</code> brackets a set of strings to look for: a, or b, or abc. <code>laud(o|as|at)</code>
        is a search for the present singular indicative forms of <span class="lat">laudare</span>. It will also find
        <span class="lat">conlaudat</span>. Note how you could use either <code>co(n|l)laud</code> or
        <code>co[nl]laud</code> to make sure you got alternate spellings of <span class="lat">conlaudare</span>.</li>
    <li><code>.</code> any character: <code>laud.nt</code> will find <span class="lat">laudant</span>, <span class="lat">laudent</span>,
        and, theoretically, <span class="lat">laudZnt</span></li>
    <li><code>\w</code> is any 'word' character and is roughly equivalent to <code>[a-z]</code>. <code>\w</code> will also find any unaccented
    letter in the Greek alphabet: α, β, γ, ...</li>
    <li><code>\s</code> whitespace: <code>\ssed\setiam\s</code> is a search for <code>' sed etiam '</code>.
</ul>
Here are some examples that give you an idea of the sort of things that are possible. But major caveats follow.
<ul class="forexample">
    <li><code>\s\w\w\s\w\w\s\w\w\s\w\w\s</code> will find all runs of four words of two letters each.</li>
    <li><code>t.t.t.t.t.</code> will find places where you have 't + anything' five times in a row. Another way
        of writing this same expression is <code>(t.){5}</code>
        Your results will be <span class="lat">heres ei extitit Titius</span>; and <span class="lat">nec diu restitit: tota...</span>
        Note that the whitespace between <span class="lat">extitit</span> and <span class="lat">Titius</span> qualified
        as 'anything' in the first match. But you might have composed the search with something else in mind.</li>
    <li><code>\s..$</code> could find all verses of Homer that end with a two letter word. Matches include τε, δέ, δῶ, and ὣϲ.</li>
    <li><code>^[^αειουηω][^\s]\s</code> could find all verses of Homer that begin with a two letter word that does not itself start with
        a vowel.
        Matches include βῆ, μή, ϲῷ, τῇ, and τῷ. Unfortunately matches also include —※. That is, the editorial marks count as part
        of the start of the line.
        The same search is a problem in dramatists for a similar reason. Punctuation is stripped out of
        the searchable columns and that means that speakers like 'ΚΗ.' and 'ΔΙ.' become 'κη' and 'δι'. They will match the pattern.
        And, obviously, speaker attribution in dramas will be able to produce all sorts of possible matches with other searches too.
    </li>
    <li><code>(?&lt;!nu)trix</code> will find all versions of <code>trix</code> that are not preceded by <code>nu</code>.
        And so it will give you <code>cicatrix</code>, <code>moderatrix</code>, and <code>uictrix</code>, but not <code>nutrix</code>.</li>
    <li><code>ἀλλὰ [^\s]*? δὴ</code></li> will give you phrases of the form "ἀλλὰ" + word + "δὴ": ἀλλὰ πολλοῖϲ δὴ, ἀλλὰ τί δὴ, ἀλλὰ νῦν δὴ, ...
    <li><code>[aeiou]m[aeiou]m[aeiou]m</code> will find words that have <code>vowel + m + vowel + m + vowel + m</code>
        (i.e., <span class="lat">amomum, cardamomum, cinnamomum, pantomimum</span>) </li>
    <li><code>(i.o.a.){2,}</code> will find 'i + anything + o + anything + a + anything' where this sequence can be found
        two or more times in a row. Three phrases that have this structure are <span class="lat">Punico acido arido</span>,
        <span class="lat">sollicito animo an</span> and <span class="lat">aequissimo animo ad</span>
    </li>
    <li><code>\sζ[^\s]*?ζ[^\s]*?ουσ</code> will find all words that start with a ζ and then have another ζ internally and
        then have ουσ still later on. ζυμίζουϲα, ζιζανιώδουϲ, and Ζήζουϲ are all matches.
    </li>
    <li><code>\snon solum\s(\w*?)\ssed etiam</code> will find all places where
        <span class="lat">non solum... sed etiam...</span> bracket just a single word.</li>
</ul>
<br />
Unfortunately a lot of swanky heavy duty regex searches with lookaheads and conditionals do not make sense: the DB is organized as a collection of 'lines'.
A search like
<code>\s\w\w\s\w\w\s\w\w\s\w\w\s</code> probably makes the most sense in the context of verse authors. This is because
<span class="emph">your regex (typically) cannot look outside of a single database line</span>. The sort of multi-line searching via
regex that one might do in a flat text file will fail to find all occurrences of the expression.
But this can find things like "τὼ δέ οἱ οὔ" and "δὲ μή τί με" in Homer.
[NB: if you have <code>TLGASSUMESBETACODE</code> set to "yes" and only the Greek corpus active, then your seach will "magically" turn into
<code>\ϲ\ὼὼϲ\ὼὼϲ\ὼὼϲ\ὼὼϲ</code>. Either change your settings or add a corpus to dodge this issue.]
<br />
<br />
What <span class="emph">typically</span> really means in that notice above is this: a "phrase search" will open up a three line window and can catch multi-line runs:
"<code> \w\w in \w\w </code>" will look for <code>[two letter word] + in + [two letter word]</code>.
And it will indeed find Cicero, In Verrem 2.4.75.10-11 where the lines end and begin with: <code>nihil se | in eo potestatis</code>.
However if your complex regex does not trigger the phrase search mechanism (by including a whitespace), then the
search will be line-by-line and <span class="emph">in this case matches occurring between lines will be lost</span>.
<br />
<br />
If you have to have the sort of search that has full access to lookaheads and what not, then you should consider migrating
to <a href="https://community.dur.ac.uk/p.j.heslin/Software/Diogenes/index.php">Diogenes</a>.

Hipparchia's internal data model will never be a good fit for that sort of thing. Even if various workarounds are possible,
there is no reason to settle for the wrong tool for the job.

