
HipparchiaServer reads from a database. Accordingly it is implicitly the case that one could alter and/or expand this
database. This page is here to tell you that you are explicitly encouraged to improve the data.
<br />
<br />
Individual ad hoc improvements can be implemented by sending the right SQL command to the right table. You could correct a parser
entry, for example, so that the preferred accentuation of <code>ἰχθῦϲ</code> was consonant between the parser and the dictionary. Or you could
add <code>ϙόϲμοϲ</code> to the list of known forms of <code>κόϲμοϲ</code>.
<br />
<br />
Adding an author or a work is not especially difficult. One needs only to provide the answer to a set of questions about the
author (name, etc.) and the shape of the work (internal structure, etc.). And then the work itself can be inserted into a table
and, presto, it will be avialable the next time you launch HipparchiaServer.
<br />
<br />
At the moment there is no automated mechanism to do this, and even the infrastructure is sadly wanting. Nevertheless, the
technical difficulties are minimal, and anyone who wanted to contact me about a large-scale set of additions would receive
an enthusiastic reception. Alternately this can be accomplished on a DIY basis.
<br />
<br />
Imagine you wanted to add a new fragment of Sappho. She is <code>gr0009</code>. The work should probably be given a new work number
(lest a rebuild of <code>gr0009w001</code> overwrite any supplements you make). <code>gr009wZ01</code> would be perfectly adequate. Then you need
a line-by-line text of the new work that provides citation information that is associated with each line: '1, 2, 3' is probably
all you need for a fragment. The lines can have any markup you want in them: you can set bold and italic and whatnot as you like.
Naturally it would be useful to match the styles already present in <code>hipparchia_styles.css</code>, but there is no
specific requirement to do that.
<br />
<br />
Then this information would be processed by a variant of the HipparchiaBuilder scripts that can fill out the missing columns
in a properly formatted manner.
<br />
<br />
Obviously this is just a rough overview, but the main point is to assert that there is nothing all that special that an
editor of a text would need to do in order to prepare to insert it into Hipparchia. You do not need to know Betacode, for
example. And you do not need any special kind of formatting for the citations. A few tidy spreadsheets would be more than
enough to bring to the doorstop of someone who knew python and was ready to feed your data through some scripts.
<br />
<br />
Think about it. Also think about sharing your impovements.
<br />
<br />
<hr />

<pre>

SAMPLE DATA:

AUTHOR:

 universalid | language |    idxname     | akaname | shortname |   cleanname   | genres | recorded_date | converted_date |      location
-------------+----------+----------------+---------+-----------+---------------+--------+---------------+----------------+---------------------
 gr0009      | G        | &1Sappho& Lyr. | Sappho  | Sappho    | Sappho (Lyr.) | Lyrici | 7–6 B.C.      |           -600 | Lesbos [vel Lesbus]


WORK:

 universalid |   title   |   pubinfo   | language | levellabels_00 | levellabels_01 | levellabels_02 | levellabels_03 | levellabels_04 | levellabels_05 | workgenre | transmission | worktype | provenance | recorded_date | converted_date | wordcount | firstline | lastline | authentic
-------------+-----------+-------------+----------+----------------+----------------+----------------+----------------+----------------+----------------+-----------+--------------+----------+------------+---------------+----------------+-----------+-----------+----------+-----------
 gr0009w003  | Fragmenta | [long...]   | G        | line           | Fragment       |                |                |                |                | Lyr.      | Pap          | Book     |            |               |                |       236 |      2028 |     2115 | t


NEWAUTHOR:

    id    en0001
    lg    E
    nm    Shakespeare, William
    gn    Lyrici, Comici, Tragici
    rd    1564-1616
    cd    1600
    lo    Stratford-upon-Avon

NEWWORK:

    id    en0001w001
    ti    The Sonnets
    pi    [publication info]
    lg    E
    l0    line
    l1    Sonnet
    wg    Lyr.
    wt    Cod.
    rd    1609

    NB: there is no mechanism for handling an author with an 'en' universalid or
        for 'E' as a language but it would not take very long at all to extend the
        framework so that it could accommodate all of English, German, and Russian
        literature, for example.

NEWTEXT:
</pre>
<table class="showborders">
    <tr><td class="showborders">1</td><td class="showborders">t</td><td class="showborders">I</td></tr>
<tr><td class="showborders">1</td><td class="showborders">1 </td><td class="showborders">From fairest creatures we desire increase,</td></tr>
<tr><td class="showborders">1</td><td class="showborders">2 </td><td class="showborders">That thereby beauty's rose might never die,</td></tr>
<tr><td class="showborders">1</td><td class="showborders">3 </td><td class="showborders">But as the riper should by time decease,</td></tr>
<tr><td class="showborders">1</td><td class="showborders">4 </td><td class="showborders">His tender heir might bear his memory:</td></tr>
<tr><td class="showborders">1</td><td class="showborders">5 </td><td class="showborders">But thou, contracted to thine own bright eyes,</td></tr>
<tr><td class="showborders">1</td><td class="showborders">6 </td><td class="showborders">Feed'st thy light's flame with self-substantial fuel,</td></tr>
<tr><td class="showborders">1</td><td class="showborders">7 </td><td class="showborders">Making a famine where abundance lies,</td></tr>
<tr><td class="showborders">1</td><td class="showborders">8 </td><td class="showborders">Thy self thy foe, to thy sweet self too cruel:</td></tr>
<tr><td class="showborders">1</td><td class="showborders">9 </td><td class="showborders">Thou that art now the world's fresh ornament,</td></tr>
<tr><td class="showborders">1</td><td class="showborders">10 </td><td class="showborders">And only herald to the gaudy spring,</td></tr>
<tr><td class="showborders">1</td><td class="showborders">11 </td><td class="showborders">Within thine own bud buriest thy content,</td></tr>
<tr><td class="showborders">1</td><td class="showborders">12 </td><td class="showborders">And tender churl mak'st waste in niggarding:</td></tr>
<tr><td class="showborders">1</td><td class="showborders">13 </td><td class="showborders">  Pity the world, or else this glutton be,</td></tr>
<tr><td class="showborders">1</td><td class="showborders">14 </td><td class="showborders">  To eat the world's due, by the grave and thee.</td></tr>
<tr><td class="showborders">2</td><td class="showborders">t</td><td class="showborders">II</td></tr>
<tr><td class="showborders">2</td><td class="showborders">1 </td><td class="showborders">When forty winters shall besiege thy brow,</td></tr>
<tr><td class="showborders">2</td><td class="showborders">2 </td><td class="showborders">And dig deep trenches in thy beauty's field,</td></tr>
<tr><td class="showborders">2</td><td class="showborders">3 </td><td class="showborders">Thy youth's proud livery so gazed on now,</td></tr>
<tr><td class="showborders">2</td><td class="showborders">4 </td><td class="showborders">Will be a tatter'd weed of small worth held:</td></tr>
<tr><td class="showborders">2</td><td class="showborders">5 </td><td class="showborders">Then being asked, where all thy beauty lies,</td></tr>
<tr><td class="showborders">2</td><td class="showborders">6 </td><td class="showborders">Where all the treasure of thy lusty days;</td></tr>
<tr><td class="showborders">2</td><td class="showborders">7 </td><td class="showborders">To say, within thine own deep sunken eyes,</td></tr>
<tr><td class="showborders">2</td><td class="showborders">8 </td><td class="showborders">Were an all-eating shame, and thriftless praise.</td></tr>
<tr><td class="showborders">2</td><td class="showborders">9 </td><td class="showborders">How much more praise deserv'd thy beauty's use,</td></tr>
<tr><td class="showborders">2</td><td class="showborders">10 </td><td class="showborders">If thou couldst answer 'This fair child of mine</td></tr>
<tr><td class="showborders">2</td><td class="showborders">11 </td><td class="showborders">Shall sum my count, and make my old excuse,'</td></tr>
<tr><td class="showborders">2</td><td class="showborders">12 </td><td class="showborders">Proving his beauty by succession thine!</td></tr>
<tr><td class="showborders">2</td><td class="showborders">13 </td><td class="showborders">  This were to be new made when thou art old,</td></tr>
<tr><td class="showborders">2</td><td class="showborders">14 </td><td class="showborders">  And see thy blood warm when thou feel'st it cold.</td></tr>
</table>


