<p class="center"><img src="/static/images/hipparchia_logo.png"></p>
<br />
Hipparchia is open source software. It has been licensed under the <a href="http://www.gnu.org/licenses/gpl-3.0.html">GPL v.3.0</a>.
This project would not have been possible had not a whole array of different individuals
and teams elected to generously donate their time and energy to the furtherance of human knowledge.
<br />
<br />
I learned Python by taking
<a href="https://ocw.mit.edu/courses/electrical-engineering-and-computer-science/6-00sc-introduction-to-computer-science-and-programming-spring-2011/index.htm">
"Introduction to Computer Science and Programming"</a> with John Guttag at MIT in 2013. Or, rather, I used the
MIT OpenCourseWare materials to watch Prof. Guttag's 2011 lectures and to work on his problem sets. You could do the same
tomorrow provided that OpenCourseWare has not closed up shop.
<br />
<br />
At every turn one will note the enabling power of the open source community, a community responsible for <a href="https://www.python.org">Python</a>
and <a href="https://www.postgresql.org">PostgreSQL</a> as well as <a href="http://flask.pocoo.org">Flask</a>
and <a href="https://www.crummy.com/software/BeautifulSoup/">Beautiful Soup</a>.
The vector math is handled by large open-source libraries:
<a href="https://radimrehurek.com/gensim/">gensim</a> and <a href="http://scikit-learn.org">scikitlearn</a>.
The pretty graphs are another gift from the community: <a href="https://matplotlib.org/">matplotlib</a>.
<br />
<br />
I could never have parsed the original data if the source code to <a href="https://community.dur.ac.uk/p.j.heslin/Software/Diogenes/index.php">Diogenes</a>
had not been released under an open license. The browser you run to read this page (or any other) is almost certainly crammed to the gills with open source code.
And <a href="https://html.spec.whatwg.org/multipage/">HTML</a> itself
is an open standard maintained by bodies committed to openness.
<br />
<br />
It can be easy to forget that "the market" as such in the digital age is enabled by and wholly dependent upon a host
of generous and free gifts of ideas, methods, and implementations. Those who gave did not impose restrictions or limitations upon others.
They did not prevent people from doing with these gifts what they chose to do with them. The fruits of these gifts have transformed
the world.
<br />
<br />
Of course we classicists knew all along that κτήματα ἐϲ αἰεί will win out over ἀγωνίϲματα πρὸϲ τὸ παραχρῆμα λυϲιτελοῦν.
<br />
<br />
