:root {
  /* define the default FONTS that will have precedence over the served-if-necessary fonts
  that are delivered via @font-face below. NB: only Arial is likely to be pre-installed.
  The others can be downloaded from various locations. Arial is available on >95% of MacOS and PC systems? */

  /* this variant of the CSS assumes you really have access to these items: the fallback is not graceful if the --var() call
  points to somehting that does not exist. a browser bug? Firefox hates this CSS; Chromium and Safari are OK with it */

  --installedfont: Arial;
  --installedfontbold: Arial-BoldMT;
  --installedfontitalic: Arial-ItalicMT;
  --installedfontbolditalic: Arial-BoldItalicMT;
  --installedfontcondensed: ArialNarrow;
  --installedfontmonospace: RobotoMono-Regular;

  /* --installedfont: SourceSansPro;
  --installedfontbold: SourceSansPro-Semibold;
  --installedfontitalic: SourceSansPro-It;
  --installedfontbolditalic: SourceSansPro-SemiboldIt;
  --installedfontcondensed: SourceSansPro-Light; */

  /* --installedfont: FiraSans-Regular;
  --installedfontbold: FiraSans-SemiBold;
  --installedfontitalic: FiraSans-Italic;
  --installedfontbolditalic: FiraSans-SemiBoldItalic;
  --installedfontcondensed: FiraSansExtraCondensed-Light;
  --installedfontmonospace: FiraMono-Regular; */
  
  /* --installedfont: ArialUnicodeMS; */
  /* --installedfont: Alexander; */
  /* --installedfont: Asea; */
  /* --installedfont: Brill; */
  /* --installedfont: Cardo; */
  /* --installedfont: GentiumPlusCompact; */
  /* --installedfont: IFAO-Grec-Unicode; */
  /* --installedfont: Junicode; [but the lunate sigma is ugly] */
  /* --installedfont: KerkisSans;  [but the lunate sigma is ugly] */
  /* --installedfont: NotoSans; */
  /* --installedfont: SourceSansPro; [but the lunate sigma is ugly] */
  /* --installedfont: Ubuntu; */
  /* --installedfont: ZZforce_fallback_to_whatever_is_set_as_hipparchiasansstatic; */

  /* define COLORS by variable so you can change them all right here */
  --main-body-color: hsla(0, 0%, 97%, 1);
  --main-font-color: hsla(0, 0%, 6%, 1);
  --black: hsla(0, 0%, 0%, 1);
  --blue: hsla(240, 100%, 27%, 1);
  --brown: hsla(22, 22%, 26%, 1);
  --brtblue: hsla(236, 44%, 40%, 1);
  --brtgreen: hsla(120, 43%, 77%, 1);
  --deepblue: hsla(233, 77%, 26%, 1);
  --dkbabyblue: hsla(237, 43%, 57%, 1);
  --dkgreen: hsla(120, 80%, 20%, 1);
  --dkgrey: hsla(0, 0%, 33%, 1);
  --dkteal: hsla(203, 22%, 26%, 1);
  --green: hsla(120, 100%, 27%, 1);
  --huedgrey: hsla(240, 6%, 49%, 1);
  --lessoffwhite: hsla(0, 0%, 98%, 1);
  --limegreen: hsla(71, 92%, 26%, 1);
  --ltbabyblue: hsla(200, 33%, 95%, 1);
  --ltgrey: hsla(0, 0%, 90%, 1);
  --midgrey: hsla(0, 0%, 67%, 1);
  --offwhite: hsla(0, 0%, 99%, 1);
  --orange: hsla(47, 100%, 30%, 1);
  --pink: hsla(0, 33%, 96%, 1);
  --red: hsla(346, 77%, 26%, 1);
  --rustedorange: hsla(23, 37%, 39%, 1);
  --sicklyyellow: hsla(44, 22%, 66%, 1);
  --skyblue: hsla(205, 92%, 37%, 1);
  --teal: hsla(196, 14%, 39%, 1);
  --transparentgrey: hsla(0, 0%, 67%, .8);
  --vdkteal: hsla(196, 27%, 20%, 1)
}

/* COLOR USE OVERVIEW

--black
    .match,
    .metrics
    .overline
    .overunder
    .proximate
    #authorholdings
    #searchlistcontents
--blue
    .interlineartext
    .interlinearmarginalia
    .marginaltext
    .textuallemma
    orth
--brown
    .editorialmarker_roundbrackets
    hmu_roman_in_a_greek_text
--brtblue
    .currentlyviewing
    .ui-icon ui-icon-arrowthick-1-e:hover
    .ui-icon ui-icon-arrowthick-1-w:hover
    browser
--brtgreen
    .loadoptions:hover
--deepblue
    .emph
    .prevalence
    .sought
--dkbabyblue
    .editorialmarker_curlybrackets
    .foundlocus:hover
    .selection:hover
    author
    bibl:hover
    indexedlocation:hover
    indexobserved:hover
    observed:hover
--dkgreen
    .marginaltext
--dkgrey
    .homonym
--dkteal
    .activeoption
    .browsercite
    .dictionaryform
    .foundtext
    .sampleoutput
    #outputbox
    span.lat
--huedgrey
    .editorialmarker_squarebrackets
    .unhandledpercent
    .unhandledpound
    td.embeddedannotations
--lessoffwhite
    #browserdialog
    #helptabs
--limegreen
    .editorialmarker_angledbrackets
    bibl
    bibl:hover
--ltbabyblue
    td.infocells
--ltgrey
    tr.nthrow
--midgrey
    .foundlocus:hover
    .searchsel:hover
    .selection:hover
    .ui-icon ui-icon-arrowthick-1-e:hover
    .ui-icon ui-icon-arrowthick-1-w:hover
    bibl:hover
    indexedlocation:hover
    indexobserved:hover
    observed:hover
--offwhite
    #authorholdings
    #searchlistcontents
    #genrelistcontents
--orange
    td.count
    hmu_alternative_reading
--pink
    .saveoptions:hover
    #clearselections:hover
    td.infocell
--red
    .colorhighlight
    .date
    .focusline
    .highlight
    .levellabel1-4
    .observed
    .romannumerals
    td.headword
--rustedorange
    .crossreference
    .dictionaryheading
    .editorialmarker_angledquotes
    .textdate
    #searchsummary
    #pollingdata
--sicklyyellow
    hmu_unconventional_form_written_by_scribe
--skyblue
    code
    smallcode
--teal
--transparentgrey
    [text-shadows]
--vdkteal
    .findnumber
    .label
    .labelcell
    span.lat
*/



@font-face {
	font-family: 'hipparchiasansstatic';
	src: url('/static/ttf/NotoSans-Regular.ttf') format('truetype');
	}

@font-face {
	font-family: 'hipparchiamonostatic';
	src: url('/static/ttf/DejaVuSansMono.ttf') format('truetype');
	}

@font-face {
	font-family: 'hipparchiaobliquestatic';
	src: url('/static/ttf/NotoSans-Italic.ttf') format('truetype');
	}

@font-face {
	font-family: 'hipparchiacondensedstatic';
	src: url('/static/ttf/RobotoCondensed-Regular.ttf') format('truetype');
	}

@font-face {
	font-family: 'hipparchiaboldstatic';
	src: url('/static/ttf/NotoSans-Bold.ttf') format('truetype');
	}

@font-face {
	font-family: 'hipparchiathinstatic';
	src: url('/static/ttf/Roboto-Thin.ttf') format('truetype');
	}

@font-face {
	font-family: 'hipparchialightstatic';
	src: url('/static/ttf/Roboto-Light.ttf') format('truetype');
	}


body {
	background: var(--main-body-color);
	margin: 10px 10px 10px 10px;
	font-family: var(--installedfont), 'hipparchiasansstatic', sans-serif;
	color: var(--main-font-color);
	font-size: 100%;
	line-height: 1.4;
	}

.90degreerotate {
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	}

.activeoption {
    color: var(--dkteal);
    font-family: var(--installedfontmonospace),'hipparchiamonostatic', monospace;
    }

.assigneddate {
	font-size: 85%;
	}

.authorsum, .quotesum, .sensesum {
    padding-left: 5px;
    }

.browsercite {
	color: var(--dkteal);
	font-weight: normal;
	}

.bold {
    font-family: var(--installedfontbold); 
    }

.breakintext {
    font-size: 75%;
    font-family: var(--installedfontitalic); 
    }

.center {
	display: block;
	text-align: center;
	}

.citation {
	font-size: 90%;
	}

.cityinfo, .provenance, .pubinfo, .regioninfo, .textdate {
	font-size: 85%;
	color: var(--rustedorange);
	text-align: center;
	}

.colorhighlight {
	color: var(--red);
	}

.crossreference {
	font-family: var(--installedfontitalic); 
	color: var(--rustedorange);
	text-align: center;
	}

.currentlyviewing {
	text-align: left;
	font-family: var(--installedfontbold); 
	color: var(--brtblue);
	padding-bottom: 0px;
	}

.date{
    color: var(--red);
    }

.denominator{
	position: relative;
	bottom: -0.5em;
	font-size: 80%;
    }

.dictionaryform {
	color: var(--dkteal);
    font-family: var(--installedfontbolditalic); 
	}

.dictionaryheading {
	color: var(--rustedorange);
	font-family: var(--installedfontbold); 
	font-size: 120%;
	text-shadow: 1px 1px 3px var(--transparentgrey);
	}

.documentmetadatalabel {
    font-size: 85%;
	color: var(--rustedorange);
	font-family: var(--installedfontbold); 
    }

.editorialmarker_angledbrackets {
    font-weight: normal;
    color: var(--limegreen);
    }

.editorialmarker_curlybrackets {
    font-weight: normal;
    color: var(--dkbabyblue);
    }

.editorialmarker_roundbrackets {
    color: var(--brown);
    font-weight: normal;
    }


.editorialmarker_squarebrackets {
    color: var(--huedgrey);
    }

.emph {
	font-family: var(--installedfontbold); 
	color: var(--deepblue);
	}

.emphatic {
	font-family: var(--installedfontbold); 
	padding: 20px;
	}

.erasedepigraphicaltext, {
	text-decoration: line-through;
	}

.explanation {
	padding-left: 75px;
	}

.findnumber {
	font-weight: normal;
	color: var(--vdkteal);
	}

.focusline {
	text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
	}

.foundauthor {
	}

.foundlocus {
	}

.foundlocus:hover{
	color: var(--dkbabyblue);
	text-shadow: 1px 1px 3px var(--transparentgrey);
	 }

.foundtext {
	color: var(--dkteal);
	}

.foundwork {
	font-family: var(--installedfontitalic); 
	}

.greek {
    /* not a great idea to use this unless you are only looking at latin authors */
	}

.highlight {
    text-shadow: 1px 1px 3px var(--transparentgrey);
	}

/*
	HMU FORMS

	a collection of styles to match formatting assertions in the original data
	see ltcurlybracketsubstitutes(), etc in HipparchiaBuilder

 */

.hmu_alternative_reading {
    color: var(--orange);
    font-family: var(--installedfontitalic); 
    }

.hmu_blank_quarter_spaces {
	margin-left: 0px;
	}

.hmu_date_or_numeric_equivalent_of_date {

	}

.hmu_discarded_form {
    text-decoration: line-through;
    }

.hmu_emendation_by_editor_of_text_not_obviously_incorrect {
	-webkit-text-decoration-style: wavy;
	-moz-text-decoration-style: wavy;
	text-decoration-style: wavy;
	}

.hmu_epigraphical_text_after_correction {
    color: var(--dkgreen);
	}

.hmu_epigraphical_text_inserted_after_erasure {
    color: var(--ltbabyblue);
	}

.hmu_expanded_text {
	letter-spacing: 0.12em;
    font-family: var(--installedfontbold); 
	}

.hmu_form_altered_by_scribe {
    font-family: var(--installedfontbolditalic);
    }

.hmu_impression_of_stamp_on_papyrus {
	font-size: 125%;
	font-family: var(--installedfontbold); 
	}

.hmu_latin_expanded_text {
	letter-spacing: 0.12em;
    font-family: var(--installedfontbold); 
	}

.hmu_marginaltext{
	color: var(--dkgreen);
	font-size: 80%;
	font-family: var(--installedfontitalic); 
	text-indent: -5px;
	padding-right: -5px;
	}

.hmu_mid_line_citation_boundary {
	padding: 50px;
	}

.hmu_overline_and_underline {
	border-bottom: 1px var(--black);
	border-top: 1px var(--black);
	}

.hmu_papyrological_fraction{ }

.hmu_parenthesis_deletion_marker {
    text-decoration: line-through;
    }

.hmu_preferred_epigraphical_text_used {
    color: var(--orange);
	}

.hmu_rectified_form {
	text-decoration: underline;
	}

.hmu_scholium {
	font-family: var(--installedfontitalic); 
	}

.hmu_seal_attached_to_papyrus {
	font-size: 125%;
	font-family: var(--installedfontbold); 
	}

.hmu_stacked_text_lower {
	}

.hmu_stacked_text_upper {
	}

.hmu_textual_lemma {
	text-style: italic;
	text-color: var(--blue);
	}

.hmu_title {
	font-family: var(--installedfontbolditalic);
	}

.hmu_unconventional_form_written_by_scribe {
    color: var(--sicklyyellow);
    }

.homonym {
    color: var(--dkgrey);
    font-family: var(--installedfontitalic); 
	}

.infocell {
	vertical-align: top;
	}

.instructionmanual {
	padding: 20px;
	}

.italic {
	font-family: var(--installedfontitalic); 
	}

.label {
	font-family: var(--installedfontbold); 
	font-color: var(--vdkteal);
	padding-left: 25px;
	padding-right: 10px;
	}

.labelcell {
	font-family: var(--installedfontbold); 
	font-color: var(--vdkteal);
	vertical-align: top;
	text-align: center;
	}

.largerthannormal {
	font-size: 115%;
	}

/*

latin is problematic: the data often turns this on and then fails to turn it off at the right time
the net result is visibly unbalanced spans

furthermore in the hybrid world of the CHR data, you see walls of this

keeping (for now) the non-span version of this

*/

.latin {
	font-size: 100%;
	font-family: 'hipparchiacondensedstatic', sans-serif;
	color: var(--skyblue);
	}

.letterbox {
	border-style: solid;
	border-width: 1px;
	}

.levellabel1 {
	font-family: var(--installedfontbold); 
	font-size: 120%;
	color: var(--red);
	}

.levellabel2 {
	font-family: var(--installedfontbold); 
	font-size: 100%;
	color: var(--red);
	}

.levellabel3 {
	font-family: var(--installedfontbold); 
	color: var(--red);
	}

.levellabel4 {
	font-family: var(--installedfontitalic); 
	color: var(--red);
	}

.lexiconhighlight {
    color: var(--red);
    font-family: var(--installedfontbold); 
    }

.lineover {
	text-decoration: overline;
	}

.linethrough {
    text-decoration: line-through;
    }

.loadoptions:hover {
	color: var(--midgrey);
	}

.locus {
	font-weight: normal;
	padding-left: 40px;
	padding-right: 20px;
	}


.match, .proximate {
	color: var(--red);
	font-weight: normal;
	border: 1px dotted black;
	text-shadow: 1px 1px 3px var(--transparentgrey);
	}

.metrics{
	color: var(--black);
	font-size: 90%;
	font-family: var(--installedfontitalic); 
	padding-left: 10px;
	}

.observed {
	color: var(--red);
	padding-right: 10px;
	}

.obsv {
	text-indent: -10px;
	padding-right: -10px;
	}

.overline {
	border-top: 1px var(--black);
	}

.overline {
	text-decoration: overline;
	}

.pickedgenre {
	}

.pickedwork {
	font-family: var(--installedfontitalic); 
	}

.picklabel {
	font-family: var(--installedfontbolditalic);
	}

.poetictext {
	font-family: var(--installedfontitalic); 
	}

.possibility {
    }

.prevalence {
    color: var(--deepblue);
    }

.progress {
	font-family: var(--installedfontbold); 
	}

.pubeditor, .pubpress, .pubcity, .pubyear, .pubseries {
	font-size: 70%;
	}

.pubvolumename {
	font-size: 70%;
	font-family: var(--installedfontbolditalic);
	}

.quotedtext {
	font-family: var(--installedfontitalic); 
	}

.romannumerals {
	font-variant: small-caps;
	color: var(--red);
	}

.sampleoutput {
	color: var(--dkteal);
	font-family: var(--installedfontitalic); 
	}

.saveoptions:hover {
	color: var(--midgrey);
	}


.searchsel:hover {
	/* inactive color: #993354;
	text-shadow: 1px 1px var(--midgrey);
	*/ }

.selection:hover{
	color: var(--brtblue);
	text-shadow: 1px 1px 3px var(--transparentgrey);
	 }

.serviusformatting {
	font-family: var(--installedfontitalic); 
	}

.small {
	font-size: 60%;
	}

.smallcapitals, .uncial {
	font-variant: small-caps;
	}

.smallerthannormal {
	font-size: 85%;
	}

.smallerthannormalsuperscript {
    vertical-align: super;
	font-size: 60%;
	}

.smlatcaps {
	font-variant: small-caps;
	font-size: 110%;
	}

.sought {
	color: var(--deepblue);
	font-family: var(--installedfontmonospace), 'hipparchiamonostatic', monospace;
    }

.speakers, .speaker {
	font-family: var(--installedfontbold); 
	}

.strikethrough {
	text-decoration: line-through;
	}

.subscript {
    font-size: 80%;
    vertical-align: sub;
    }

.superscript {
    vertical-align: super;
	font-size: 80%;
	}

.textuallemma, .interlineartext, .interlinearmarginalia, .marginaltext {
	text-style: italic;
	text-color: var(--blue);
	}

.translation {
    font-size: 85%;
    text-style: italic;
    }

.ui-button {
	margin-bottom: 3px;
	}

.ui-helper-hidden-accessible {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px);
	}

.ui-icon ui-icon-arrowthick-1-e:hover{
	color: var(--brtblue);
	text-shadow: 1px 1px 3px var(--transparentgrey);
	 }

.ui-icon ui-icon-arrowthick-1-w:hover{
	color: var(--brtblue);
	text-shadow: 1px 1px 3px var(--transparentgrey);
	}

.unhandledpercent{
	top: -0.5em;
	font-size: 80%;
	color: var(--huedgrey);
    }

.unhandledpound{
	top: -0.5em;
	font-size: 80%;
	color: var(--huedgrey);
    }

.wordcounts{
    font-size: 85%;
    }

.work, .title {
    font-family: var(--installedfontbolditalic); 
	}

#accentsactive, #accentsnotactive {
	padding-left: 0px;
	font-size: 120%;
	font-family: var(--installedfontbold); 
	}

#activeoptions {
	position: fixed;
	top: 15px;
	right: 15px;
	font-size: 80%;
	}

#authorholdings {
	background-color: var(--offwhite);
	border: 1px dotted black;
	width: 50%;
	margin: auto;
	}

#browserdialog {
	position: fixed;
	border-style: solid;
	border-width: 1px;
	border-color: var(--midgrey);
	top: 100px;
	right: 50px;
	box-shadow: 4px 4px 2px var(--transparentgrey);
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: var(--lessoffwhite);
	font-size: 115%;
	line-height: 1.1;
	}

#browsernavigationbuttons {
    margin: auto;
    text-align: center;
    padding-bottom: 5px;
    }

#clickforhelp {
	position: fixed;
	bottom: 10px;
	right: 10px;
	}

#languageradio, #modeeradio {
	text-align: center;
	margin: auto;
	display: block;
	}

#lexica {
	position: fixed;
	bottom: 10px;
	left: 50%;
	transform: translateX(-50%);
	}

#loadslots, #saveslots {
	padding-left: 3px;
	padding-bottom: 3px;
	}

#helptabs {
	position: fixed;
	top: 125px;
	right: 125px;
	left: 125px;
	bottom: 125px;
	box-shadow: 5px 5px 2px #999;
	padding: 10px;
	background-color: var(--lessoffwhite);
	overflow: auto;
	}

#outputbox {
	text-align: center;
	font-size: 90%;
	color: var(--dkteal);
	}

#parserdialog {
	/* off because jquery is doing the work position: float;
	box-shadow: 5px 5px 2px #999;
	padding: 10px;
	background-color: #fafafa;
	*/ }

#savedprofiles {
	position: fixed;
	bottom: 50px;
	right: 15px;
	font-size: 100%;
	}

#searchfield, #uiclickfield {
	text-align: center;
	}

#searchlistcontents, #genrelistcontents {
	text-align: left;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: var(--offwhite);
	border: 1px dotted black;
	width: 50%;
	margin: auto;
	}

#searchsummary, #pollingdata {
	padding: 10px;
	text-align: left;
	color: var(--rustedorange);
	}

#selectionsandexclusions {
	width: 50%;
	margin: auto;
	text-align: center;
	}

#selectionstable {
	width: 50%;
	margin: auto;
	}

#selectionstable tbody td {
	font-size: 85%;
	}

#wordsearchform {
	position: float;
	}

analysis {
	font-family: var(--installedfontitalic); 
	}

author {
	color: var(--dkbabyblue);
	}

bibl {
	color: var(--limegreen);
	}

bibl:hover{
	color: var(--dkbabyblue);
	text-shadow: 1px 1px 3px var(--transparentgrey);
	}

browser {
	color: var(--brtblue);
	}

caption {
	font-size: 120%;
	font-family: var(--installedfontbold); 
	padding-bottom: 20px;
	}

code {
	font-size: 100%;
	color: var(--skyblue);
	font-family: var(--installedfontmonospace), 'hipparchiamonostatic', monospace;
	}

dictionaryentry{
    color: var(--rustedorange);
    }

dictionaryentry:hover{
	color: var(--dkbabyblue);
	text-shadow: 1px 1px 3px var(--transparentgrey);
	}

div.fourcolumn {
	-webkit-column-count: 4;
	/* Chrome, Safari, Opera */ -moz-column-count: 4;
	/* Firefox */ column-count: 4;
	}

div.threecolumn {
	-webkit-column-count: 3;
	/* Chrome, Safari, Opera */ -moz-column-count: 3;
	/* Firefox */ column-count: 3;
	}

etym {
    color: var(--dkgrey);
    }

fieldset {
	display: inline-block;
	border-width: 1px;
	font-size: 80%;
	}

form {
	display: inline;
	}

gen {
    /* should probably match orth */
    font-family: var(--installedfontitalic);
	color: var(--blue);
    }

gramgrp {
    font-family: var(--installedfontbold);
    color: var(--dkgrey);
    }

gramm {
    font-family: var(--installedfontbold);
    color: var(--dkgrey);
    }

hi {
    font-family: var(--installedfontbold);
    color: var(--vdkteal);
    }

indexedlocation:hover{
	color: var(--dkbabyblue);
	text-shadow: 1px 1px 3px var(--transparentgrey);
	 }

indexobserved:hover{
	color: var(--dkbabyblue);
	text-shadow: 1px 1px 3px var(--transparentgrey);
	}

input {
	text-align: center;
	padding: 5px;
	display: inline;
	}

itype {
    font-family: var(--installedfontitalic);
	color: var(--blue);
	}

legend {
	text-align: center;
	}

li {
	padding-top: 1px;
	}

locus {
	display: block;
	padding-top: 20px;
	padding-bottom: 5px;
	}

mood {
    font-family: var(--installedfontbold);
    }

observed:hover{
	color: var(--dkbabyblue);
	text-shadow: 1px 1px 3px var(--transparentgrey);
	}

orth {
    font-family: var(--installedfontitalic);
	color: var(--blue);
	}

p.level1 {}

p.level2 {
	padding-left: 15px;
	}

p.level3 {
	padding-left: 30px;
	}

p.level4 {
	padding-left: 45;
	}

pre {
    font-family: var(--installedfontmonospace), 'hipparchiamonostatic', monospace;
    }

pron {
    font-family: var(--installedfontitalic);
    }

pos {
    color: var(--skyblue);
    font-family: var(--installedfontbold);
    }

quote {
	font-family: var(--installedfontitalic); 
	}

sense {
	padding: 10px;
	margin-top: 20px;
	}

smallcode {
	font-size: 85%;
	color: var(--skyblue);
	font-family: var(--installedfontmonospace), 'hipparchiamonostatic', monospace;
	}

span.lat {
	font-family: var(--installedfontitalic); 
	font-color: var(--vdkteal);
	}

speaker {
	font-family: var(--installedfontbold);
	}

table {
	text-align: left;
	font-weight: normal;
	}

table.navtable {
    padding-top: 10px;
    margin: auto;
    display: block;
    font-size: 75%;
    }

table.showborders, td.showborders {
    border: 1px solid black;
    font-family: var(--installedfontmonospace);
    }

td.alihnleft {
    text-align: left;
    }

td.alignright {
    text-align: right;
    }

td.browsedline {
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 8px;
	}

td.browserembeddedannotations {
	padding-right: 10px;
	padding-left: 15px;
	padding-bottom: 8px;
    color: var(--huedgrey);
    font-family: var(--installedfontcondensed);
    font-size: 80%;
    vertical-align: middle;
    }

td.documentmeta {
    padding-right: -20px;
    }

td.textmakerembeddedannotations {
	padding-right: 10px;
	padding-left: 15px;
    color: var(--huedgrey);
    font-family: var(--installedfontcondensed);
    font-size: 80%;
    vertical-align: middle;
    }

td.browsercite {
	padding-right: 10px;
	padding-left: 10px;
	}

td.count {
	color: var(--orange);
	text-align: center;
	}

td.crossreference {
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 16px;
	}

td.headword {
    font-family: var(--installedfontbold); 
    color: var(--red);
    }

td.infocells {
	background-color: var(--ltbabyblue);
	/* background-color: hsl(0, 0%, 95%);
	*/ text-align: center;
	}

td.infocellx {
	background-color: var(--pink);
	/* background-color: hsl(0, 0%, 90%);
	*/ text-align: center;
	}

td.leftpad {
    padding-left: 10px;
    }

td.passages {
	font-weight: normal;
	}

td.textcrossreference {
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 16px;
	padding-bottom: 16px;
	text-align: left;
	}

td.textdate, td.regioninfo, td.cityinfo, td.pubinfo, td.provenance {
	padding-right: 10px;
	padding-left: 10px;
	text-align: left;
	}

td.word {
	font-family: var(--installedfontbold); 
	}

th {
	padding: 5px;
	text-align: center;
	}

th.indextable {
    text-align: left;
    }

tns {
    font-family: var(--installedfontbold);
    }

tr.nthrow{
    background-color: var(--ltgrey);
    }

transl {
	padding-right: 20px;
	}

ul {
	list-style-type: none;
	}

ul.forexample {
	list-style-type: lower-latin;
	padding-left: 100px;
	padding-bottom: 5px;
	}

ul.numbered {
	list-style-type: decimal;
	padding-left: 25px;
	padding-bottom: 5px;
	padding-top: 5px;
	}

ul.roman {
	list-style-type: lower-roman;
	padding-left: 25px;
	padding-bottom: 5px;
	}

unclickablebibl {
    color: var(--black);
    }

worktitle {
	font-family: var(--installedfontitalic); 
	}