@font-face {
	font-family: 'DejaVuSans';
	src: url('/static/ttf/DejaVuSans.ttf') format('truetype');
	}

@font-face {
	font-family: 'DejaVuSansMono';
	src: url('/static/ttf/DejaVuSansMono.ttf') format('truetype');
	}

@font-face {
	font-family: 'DejaVuSansCondensed-Oblique';
	src: url('/static/ttf/DejaVuSansCondensed-Oblique.ttf') format('truetype');
	}

body {
	background: #f6f6f6;
	margin: 10px 10px 10px 10px;
	font-family: Arial, 'DejaVuSans', sans-serif;
	color: #101010;
	font-size: 90%;
	line-height: 1.4;
	}

.90degreerotate {
	-webkit-transform: rotate(-90deg); 
	-moz-transform: rotate(-90deg);	
	}

.activeoption {
    color: #556970;
    font-family: 'DejaVuSansMono', monospace;
    }

.assigneddate {
	font-size: 85%;
	}

.authorsum, .quotesum, .sensesum {
    padding-left: 5px;
    }

.browsercite {
	color: #556970;
	font-weight: normal;
	}

.bold {
    font-weight: bold;
    }

.center {
	display: block;
	text-align: center;
	}

.citation {
	font-size: 90%;
	}

.colorhighlight {
	color: #760f27;
	}

.crossreference {
	font-style: italic;
	color: #895b3f;
	text-align: center;
	}

.currentlyviewing {
	text-align: left;
	font-weight: bold;
	color: #393F94;
	padding-bottom: 0px;
	}

.date{
    color: #722;
    }

.denominator{
	position: relative;
	bottom: -0.5em;
	font-size: 80%;
    }

.dictionaryform {
	color: #334750;
	font-style: italic;
	font-weight: bold;
	}

.dictionaryheading {
	color: #970;
	font-weight: 600;
	font-size: 120%;
	}

.editorialmarker_squarebrackets{
    color: #757585;
    }

.emph {
	font-weight: 600;
	color: #0f1b76;
	}

.emphatic {
	font-weight: bold;
	padding: 20px;
	}

.erasedepiographicaltext, .strikethrough {
	text-decoration: line-through;
	}

.expanded {
	letter-spacing: 0.14em;
    font-weight: 600;
	}

.explanation {
	padding-left: 75px;
	}

.findnumber {
	font-weight: normal;
	color: #253940;
	}

.focusline, .highlight {
	color: #880000;
	font-weight: 600;
	}

.foundauthor {
	}

.foundlocus {
	}

.foundlocus:hover{
	color: #393F94;
	text-shadow: 1px 1px #aaa;
	 }

.foundtext {
	color: #354b53;
	}

.foundwork {
	font-style: italic;
	}

.homonym {
    color: #555;
    font-style: italic;
	}

.infocell {
	vertical-align: top;
	}

.instructionmanual {
	padding: 20px;
	}

.italic {
	font-style: italic;
	}

.label {
	font-weight: 600;
	font-color: #253940;
	padding-left: 25px;
	padding-right: 10px;
	}

.labelcell {
	font-weight: 600;
	font-color: #253940;
	vertical-align: top;
	text-align: center;
	}

.letterbox {
	border-style: solid;
	border-width: 1px;
	}

.levellabel1 {
	font-weight: bold;
	font-size: 120%;
	}

.levellabel2 {
	font-weight: bold;
	font-size: 100%;
	}

.levellabel3 {
	font-weight: bold;
	}

.levellabel4 {
	font-style: italic;
	}

.lineover {
	text-decoration: overline;
	}

.linethrough {
    text-decoration: line-through;
    }

.loadoptions:hover {
	color: #ada;
	}

.locus {
	font-weight: normal;
	padding-left: 40px;
	padding-right: 20px;
	}

.marginaltext{
	color: #008800;
	font-size: 80%;
	font-style: italic;
	text-indent: -5px;
	padding-right: -5px;
	}

.match, .proximate {
	color: #000;
	font-weight: 600;
	border: 1px dotted black;
	}

.metrics{
	color: #000;
	font-size: 90%;
	font-style: italic;
	padding-left: 10px;
	}
 
.observed {
	color: #880000;
	padding-right: 10px;
	}

.obsv {
	text-indent: -10px;
	padding-right: -10px;
	}

.overline {
	border-top: 1px #000;
	}

.overline {
	text-decoration: overline;
	}

.overunder {
	border-bottom: 1px #000;
	border-top: 1px #000;
	}

.pickedgenre {
	}

.pickedwork {
	font-style: italic;
	}

.picklabel {
	font-weight: bold;
	font-style: italic;
	}

.possibility {
    }

.prevalence {
    color: #0f1b76;
    }

.progress {
	font-weight: bold;
	}

.pubeditor, .pubpress, .pubcity, .pubyear, .pubseries {
	font-size: 70%;
	}

.pubvolumename {
	font-size: 70%;
	font-style: italic;
	}

.quotedtext {
	font-style: italic;
	}

.romannumerals {
	font-variant: small-caps;
	color: 880000;
	}

.sampleoutput {
	color: #455f56;
	font-style: italic;
	}

.saveoptions:hover, #clearselections:hover {
	color: #daa;
	}

.scholium {
	font-style: italic;
	}

.searchsel:hover {
	/* inactive color: #993354;
	text-shadow: 1px 1px #aaa;
	*/ }

.selection:hover{
	color: #393F94;
	text-shadow: 1px 1px #aaa;
	 }

.serviusformatting {
	font-style: italic;
	}

.small {
	font-size: 60%;
	}

.smallcapitals, .uncial {
	font-variant: small-caps;
	}

.smallerthannormalsuperscript {
	position: relative;
	top: -0.5em;
	font-size: 60%;
	}

.smlatcaps {
	font-variant: small-caps;
	font-size: 110%;
	}

.sought {
	color: #0f1b76;
	font-weight: bold;
	font-family: DejaVuSansMono, monospace;
    }

.speakers, .speaker {
	font-weight: bold;
	}

.superscript {
	position: relative;
	top: -0.5em;
	font-size: 80%;
	}

.textdate {
	font-size: 85%;
	color: #895b3f;
	text-align: center;
	}

.textuallemma, .interlineartext, .interlinearmarginalia, .marginaltext {
	text-style: italic;
	text-color: 000088;
	}

.translation {
    font-size: 85%;
    text-style: italic;
    }

.ui-button {
	margin-bottom: 3px;
	}

.ui-helper-hidden-accessible {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px,1px,1px,1px);
	}

.ui-icon ui-icon-arrowthick-1-e:hover{
	color: #393F94;
	text-shadow: 1px 1px #aaa;
	 }

.ui-icon ui-icon-arrowthick-1-w:hover{
	color: #393F94;
	text-shadow: 1px 1px #aaa;
	 }

.unhandledpercent{
    position: relative;
	top: -0.5em;
	font-size: 60%;
	color: #080;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    }

.unhandledpound{
    position: relative;
	top: -0.5em;
	font-size: 60%;
	color: #800;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    }

.wordcounts{
    font-size: 85%;
    }

.work, .title {
	font-style: italic;
	font-weight: bold;
	}

@blue: #288DD5;
	
@cyan: #15968D;

@green: #629655;
	
@magenta: #E74A93;
	
@orange: #E05F27;
	
@red: #E74A93;
	
@violet: #797FD4;
	
@yellow: #B68800;
	
#accentsactive, #accentsnotactive {
	padding-left: 0px;
	font-size: 120%;
	font-weight: bold;
	}

#activeoptions {
	position: fixed;
	top: 15px;
	right: 15px;
	font-size: 80%;
	}

#authorholdings, #searchlistcontents {
	background-color: #fcfcfc;
	border: 1px dotted black;
	width: 50%;
	margin: auto;
	}

#browserdialog {
	position: fixed;
	top: 100px;
	right: 50px;
	box-shadow: 5px 5px 2px #999;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: #fafafa;
	font-size: 115%;
	line-height: 1.1;
	}

#browsernavigationbuttons {
    margin: auto;
    text-align: center;
    padding-bottom: 5px;
    }

#clickforhelp {
	position: fixed;
	bottom: 10px;
	right: 10px;
	}

#languageradio, #modeeradio {
	text-align: center;
	margin: auto;
	display: block;
	}

#lexica {
	position: fixed;
	bottom: 10px;
	left: 50%;
	transform: translateX(-50%);
	}

#loadslots, #saveslots {
	padding-left: 3px;
	padding-bottom: 3px;
	}

#helptabs {
	position: fixed;
	top: 125px;
	right: 125px;
	left: 125px;
	bottom: 125px;
	box-shadow: 5px 5px 2px #999;
	padding: 10px;
	background-color: #fafafa;
	overflow: auto;
	}

#outputbox {
	text-align: center;
	font-size: 90%;
	color: #354b53;
	}

#parserdialog {
	/* off because jquery is doing the work position: float;
	box-shadow: 5px 5px 2px #999;
	padding: 10px;
	background-color: #fafafa;
	*/ }

#savedprofiles {
	position: fixed;
	bottom: 50px;
	right: 15px;
	font-size: 100%;
	}

#searchfield, #uiclickfield {
	text-align: center;
	}

#searchlistcontents, #genrelistcontents {
	text-align: left;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: #fcfcfc;
	border: 1px dotted black;
	width: 50%;
	margin: auto;
	}

#searchsummary, #pollingdata {
	padding: 10px;
	text-align: left;
	color: #AE5727;
	}

#selectionsandexclusions {
	width: 50%;
	margin: auto;
	text-align: center;
	}

#selectionstable {
	width: 50%;
	margin: auto;
	}

#selectionstable tbody td {
	font-size: 85%;
	}

#wordsearchform {
	position: float;
	}

analysis {
	font-style: italic;
	}

author {
	color: #6c71c4;
	}

bibl {
	color: #859900;
	}

bibl:hover{
	color: #393F94;
	text-shadow: 1px 1px #aaa;
	 }

browser {
	color: #393F94;
	}

caption {
	font-size: 120%;
	font-weight: bold;
	padding-bottom: 20px;
	}

code {
	font-size: 100%;
	color: #086db5;
	font-family: DejaVuSansMono, monospace;
	}

div.fourcolumn {
	-webkit-column-count: 4;
	/* Chrome, Safari, Opera */ -moz-column-count: 4;
	/* Firefox */ column-count: 4;
	}

div.threecolumn {
	-webkit-column-count: 3;
	/* Chrome, Safari, Opera */ -moz-column-count: 3;
	/* Firefox */ column-count: 3;
	}

fieldset {
	display: inline-block;
	border-width: 1px;
	font-size: 85%;
	}

form {
	display: inline;
	}

hmu_blank_quarter_spaces {
	margin-left: 0px;
	}

hmu_greek_in_a_latin_text {
	}

hmu_mid_line_citation_boundary {
	padding: 50px;
	}

hmu_papyrological_fraction{ }

hmu_roman_in_a_greek_text {
	font-size: 90%;
	color: #241;
	font-family: DejaVuSansCondensed;
	}

hmu_title {
	font-weight: bold;
	font-style: italic;
	}

indexedlocation:hover{
	color: #393F94;
	text-shadow: 1px 1px #aaa;
	 }

indexobserved:hover{
	color: #393F94;
	text-shadow: 1px 1px #aaa;
	 }

input {
	text-align: center;
	padding: 5px;
	display: inline;
	}

legend {
	text-align: center;
	}

li {
	padding-top: 1px;
	}

locus {
	display: block;
	padding-top: 20px;
	padding-bottom: 5px;
	}

observed:hover{
	color: #393F94;
	text-shadow: 1px 1px #aaa;
	 }

orth {
	color: #000088;
	}

p.level1 {}

p.level2 {
	padding-left: 15px;
	}

p.level3 {
	padding-left: 30px;
	}

p.level4 {
	padding-left: 45;
	}

quote, orth {
	font-style: italic;
	}

sense {
	padding: 10px;
	margin-top: 20px;
	}

smallcode {
	font-size: 85%;
	color: #086db5;
	font-family: DejaVuSansMono, monospace;
	}

span.lat {
	font-style: italic;
	font-color: #253940;
	}

table {
	text-align: left;
	font-weight: normal;
	}

td.browsedline {
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 8px;
	}

td.browsercite {
	padding-right: 10px;
	padding-left: 10px;
	}

td.count {
	color: #AE5727;
	text-align: center;
	}

td.crossreference {
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 16px;
	}

td.headword {
    font-weight: bold;
    color: #600;
    }

td.infocells {
	background-color: hsl(200, 33%, 95%);
	/* background-color: hsl(0, 0%, 95%);
	*/ text-align: center;
	}

td.infocellx {
	background-color: hsl(0, 33%, 95%);
	/* background-color: hsl(0, 0%, 90%);
	*/ text-align: center;
	}

td.leftpad {
    padding-left: 10px;
    }

td.passages {
	font-weight: normal;
	}

td.textcrossreference {
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 16px;
	padding-bottom: 16px;
	text-align: left;
	}

td.textdate, td.regioninfo, td.cityinfo, td.pubinfo, td.provenance {
	padding-right: 10px;
	padding-left: 10px;
	text-align: left;
	}

td.word {
	font-weight: bold;
	}

th {
	padding: 5px;
	text-align: center;
	}

tr.nthrow{
    background-color: #e6e6e6;
    }

transl {
	padding-right: 20px;
	}

ul {
	list-style-type: none;
	}

ul.forexample {
	list-style-type: lower-latin;
	padding-left: 100px;
	padding-bottom: 5px;
	}

ul.numbered {
	list-style-type: decimal;
	padding-left: 25px;
	padding-bottom: 5px;
	padding-top: 5px;
	}

ul.roman {
	list-style-type: lower-roman;
	padding-left: 25px;
	padding-bottom: 5px;
	}

worktitle {
	font-style: italic;
	}

