<div id="activeoptions">
    <div id="grkisactive">Ⓖ</div>
    <div id="latisactive">Ⓛ</div>
    <div id="ddpisactive">Ⓓ</div>
    <div id="insisactive">Ⓘ</div>
    <div id="chrisactive">Ⓒ</div>
    <br />
    <div id="accentsactive">ώ</div>
    <div id="accentsnotactive">ω</div>

</div>

<script>
    $('#accentsactive').hide();
    $('#accentsnotactive').hide();
    $('#grkisactive').hide();
    $('#latisactive').hide();
    $('#ddpisactive').hide();
    $('#insisactive').hide();
    $('#chrisactive').hide();
    {% if accents == 'yes' %} $('#accentsactive').show();  {% else %} $('#accentsnotactive').show(); {% endif %}

    {% for corpus in activecorpora %}
        {% if corpus == 'greekcorpus' %} $('#grkisactive').show(); {% endif %}
        {% if corpus == 'latincorpus' %}  $('#latisactive').show(); {% endif %}
        {% if corpus == 'papyruscorpus' %} $('#ddpisactive').show(); {% endif %}
        {% if corpus == 'inscriptioncorpus' %} $('#insisactive').show(); {% endif %}
        {% if corpus == 'christiancorpus' %} $('#chrisactive').show(); {% endif %}
    {% endfor %}
</script>