<div id="activeoptions">
    <div id="grkisactive" title="Greek corpus is active">Ⓖ</div>
    <div id="latisactive" title="Latin corpus is active">Ⓛ</div>
    <div id="ddpisactive" title="Documentary papyri corpus is active">Ⓓ</div>
    <div id="insisactive" title="Inscriptions corpus I is active">Ⓘ</div>
    <div id="chrisactive" title="Inscriptions corpus II is active">Ⓒ</div>
    <br />
    <div id="accentsactive" title="Accents matter">ώ</div>
    <div id="accentsnotactive" title="Accents do not matter">ω</div>
    <div id="onehitistrue" title="Matches limited to one per work">⑴</div>
    <div id="onehitisfalse" title="Unlimited matches per work"></div>
</div>

<script>
    $('#accentsactive').hide();
    $('#accentsnotactive').hide();
    $('#onehitistrue').hide();
    $('#onehitisfalse').hide();
    $('#grkisactive').hide();
    $('#latisactive').hide();
    $('#ddpisactive').hide();
    $('#insisactive').hide();
    $('#chrisactive').hide();
    {% if accents == 'yes' %} $('#accentsactive').show();  {% else %} $('#accentsnotactive').show(); {% endif %}
    {% if onehit == 'yes' %} $('#onehitistrue').show();  {% else %} $('#onehitisfalse').show(); {% endif %}
    {% for corpus in activecorpora %}
        {% if corpus == 'greekcorpus' %} $('#grkisactive').show(); {% endif %}
        {% if corpus == 'latincorpus' %}  $('#latisactive').show(); {% endif %}
        {% if corpus == 'papyruscorpus' %} $('#ddpisactive').show(); {% endif %}
        {% if corpus == 'inscriptioncorpus' %} $('#insisactive').show(); {% endif %}
        {% if corpus == 'christiancorpus' %} $('#chrisactive').show(); {% endif %}
    {% endfor %}
</script>