<div id="activeoptions">
    <div id="grkisactive" title="Greek corpus is active"><span class="activeoption">{{clab['g']}}</span></div>
    <div id="grkisnotactive"></div>
    <div id="latisactive" title="Latin corpus is active"><span class="activeoption">{{clab['l']}}</span></div>
    <div id="latisnotactive"></div>
    <div id="ddpisactive" title="Documentary papyri corpus is active"><span class="activeoption">{{clab['d']}}</span></div>
    <div id="ddpnotisactive"></div>
    <div id="insisactive" title="Inscriptions corpus I is active"><span class="activeoption">{{clab['i']}}</span></div>
    <div id="insnotisactive"></div>
    <div id="chrisactive" title="Inscriptions corpus II is active"><span class="activeoption">{{clab['c']}}</span></div>
    <div id="chrnotisactive"></div>
    <br />
    <div id="onehitistrue" title="Matches limited to one per work"><span class="activeoption">⑴</span></div>
    <div id="onehitisfalse" title="Unlimited matches per work"></div>
    <div id="spuriaistrue" title="Search inside spuria"><span class="activeoption"></span></div>
    <div id="spuriaisfalse" title="Do not search inside spuria"><span class="activeoption linethrough small">sp</span></div>
    <div id="undatedistrue" title="Search works that have no assigned date"><span class="activeoption"></span></div>
    <div id="undatedisfalse" title="Do not search works without an assigned date"><span class="activeoption linethrough small">inc</span></div>
    <div id="variaistrue" title="Search works that have various authors and dates"><span class="activeoption"></span></div>
    <div id="variaisfalse" title="Do not search works that have various authors and dates"><span class="activeoption linethrough small">var</span></div>
    <div id="headwordindexingactive" title="Index by headword"><span class="activeoption">⢱</span></div>
    <div id="headwordindexiningactive" title="Do not index by headword"><span class="activeoption"></span></div>
    <div id="frequencyindexingactive" title="Index by frequency"><span class="activeoption">﹟</span></div>
    <div id="frequencyindexinginactive" title="Do not index by frequency"><span class="activeoption"></span></div>
</div>

<script>
    // GENERIC
    var optionids = Array('#onehitistrue', '#onehitisfalse', '#spuriaistrue',
        '#spuriaisfalse', '#undatedistrue', '#undatedisfalse',
        '#variaistrue', '#variaisfalse', '#headwordindexingactive',
        '#headwordindexiningactive', '#frequencyindexingactive',
        '#frequencyindexinginactive', '#grkisactive', '#latisactive',
        '#ddpisactive', '#insisactive', '#chrisactive');

    for (var i = 0; i < optionids.length; i++) { $(optionids[i]).hide(); }

    // SPECIFIC TO CURRENT SETTINGS

    {% if onehit == 'yes' %} $('#onehitistrue').show();  {% else %} $('#onehitisfalse').show(); {% endif %}
    {% if hwindexing == 'yes' %} $('#headwordindexingactive').show();  {% else %} $('#headwordindexiningactive').show(); {% endif %}
    {% if indexbyfrequency == 'yes' %} $('#frequencyindexingactive').show();  {% else %} $('#frequencyindexinginactive').show(); {% endif %}
    {% if spuria == 'yes' %} $('#spuriaistrue').show();  {% else %} $('#spuriaisfalse').show(); {% endif %}
    {% if undated == 'yes' %} $('#undatedistrue').show();  {% else %} $('#undatedisfalse').show(); {% endif %}
    {% if varia == 'yes' %} $('#variaistrue').show();  {% else %} $('#variaisfalse').show(); {% endif %}
    {% for corpus in activecorpora %}
        {% if corpus == 'greekcorpus' %} $('#grkisactive').show(); {% endif %}
        {% if corpus == 'latincorpus' %}  $('#latisactive').show(); {% endif %}
        {% if corpus == 'papyruscorpus' %} $('#ddpisactive').show(); {% endif %}
        {% if corpus == 'inscriptioncorpus' %} $('#insisactive').show(); {% endif %}
        {% if corpus == 'christiancorpus' %} $('#chrisactive').show(); {% endif %}
    {% endfor %}
</script>