   <div id="concordanceoptions">
       <fieldset>
          <legend>Words...</legend>
          <label for="anyin">any and all in this selection
          <input type="radio" name="concordanetype" id="anyin" value="any"></label><br />
          <label for="onlyinwk">unique to this selection of this work
          <input type="radio" name="concordanetype" id="onlyinwk" value="wonly"></label><br />
          <label for="onlyinau">unique to this selection of this author
          <input type="radio" name="concordanetype" id="onlyinau" value="aonly"></label>
      </fieldset>
      <fieldset>
          <legend>Text...</legend>
          <label for="stdfmt">has standard formatting
          <input type="radio" name="formatting" id="stdfmt" value="std"></label><br />
          <label for="minfmt">has minimal formatting
          <input type="radio" name="formatting" id="minfmt" value="min"></label>
      </fieldset>
   </div>