<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
<p class="small center">{{ time }}s</p>

<p class="center">
    <a href ="/"><button id="back" class="ui-button ui-corner-all ui-widget ui-button-icon-only" title="Back to the main page">
        <span class="ui-icon ui-icon-arrowreturnthick-1-w"></span><span class="ui-button-icon-space"> </span>&nbsp;</button></a>
    {% if mode!=0 %}
    <a href ="{{ url }}"><button id="workconc" class="ui-button ui-corner-all ui-widget ui-button-icon-only" title="Concordance to {{ title }}">
        <span class="ui-icon ui-icon-bullet"></span><span class="ui-button-icon-space"> </span>&nbsp;</button></a>
    {% endif %}
    {% if mode!=1 %}
    <a href ="{{ url }}&mode=1"><button id="exclusiveconc" class="ui-button ui-corner-all ui-widget ui-button-icon-only" title="Words in {{ title }} but not present in any other work of {{ author }}">
        <span class="ui-icon ui-icon-radio-off"></span><span class="ui-button-icon-space"> </span>&nbsp;</button></a>
    {% endif %}
    {% if mode!=2 %}
    <a href ="{{ url }}&mode=2"><button id="authorconc" class="ui-button ui-corner-all ui-widget ui-button-icon-only" title="Full concordance for {{ author }}">
        <span class="ui-icon ui-icon-person"></span><span class="ui-button-icon-space"> </span>&nbsp;</button></a>
    {% endif %}
    <a href ="{{ simpletexturl }}"><button id="readthework" class="ui-button ui-corner-all ui-widget ui-button-icon-only" title="View the full text of {{ title }}">
        <span class="ui-icon ui-icon-note"></span><span class="ui-button-icon-space"> </span>&nbsp;</button></a>
</p>

{% if mode==0 %}
  <h1 class="center">Concordance for {{ author }},&nbsp;<span class="title">{{ title }}</span></h1>
    <p class="center">{{ count }} words found</p>
{% elif mode==1 %}
    <h1 class="center">Words unique to <span class="title">{{ title }}</span> within the corpus of {{ author }}</h1>
    <p class="center">{{ count }} words found</p>
{% elif mode==2 %}
    <h1 class="center">Concordance to the works of {{ author }}</h1>

    <p class="center">{{ count }} words found</p>


    <h3>Key:</h3>
    {% for work in allworks %}
    {{ work }}</br />
    {% endfor %}
{%endif%}


<table>
    {% if mode!=2 %}
    <caption>citation format: {{ structure }}</caption>
    {%endif%}
{% autoescape false %}
    <tr>
        <th>word</th>
        <th>count</th>
        <th>passages</th>
    </tr>
{% for result in results %}
    <tr>
	    <td class="word">{{ result[0] }}</td>
        <td class="count">{{ result[1] }}</td>
        <td class="passages">{{ result[2] }}</td>
    </tr>
{% endfor %}
</table>

{% endautoescape %}

{% endblock %}
