
   <div id="searchfield">
        <input type="text" name="authors" class="authorinput" id="authorsautocomplete" action="" placeholder="Authors (&uarr;/&darr;)">
        <input type="text" name="works" class="workinput" id="worksautocomplete" placeholder="Works [inactive]">
        <input type="text" name="level05" class="worklevel" id="level05" placeholder="[level05]">
        <input type="text" name="level04" class="worklevel" id="level04" placeholder="[level04]">
        <input type="text" name="level03" class="worklevel" id="level03" placeholder="[level03]">
        <input type="text" name="level02" class="worklevel" id="level02" placeholder="[level02]">
        <input type="text" name="level01" class="worklevel" id="level01" placeholder="[level01]">
        <input type="text" name="level00" class="worklevel" id="level00" placeholder="[level00]">
        <button id="concordanceofthis" class="ui-button ui-corner-all ui-widget ui-button-icon-only" title="Build a concordance"><span class="ui-icon ui-icon-calculator"></span><span class="ui-button-icon-space"> </span>&nbsp;</button>
        <button id="textofthis" class="ui-button ui-corner-all ui-widget ui-button-icon-only" title="Build a text"><span class="ui-icon ui-icon-note"></span><span class="ui-button-icon-space"> </span>&nbsp;</button>
    </div>
