{% extends "base.html" %}

{% block content %}
<!-- extend from base layout -->
{% include "concordancesearchfields.html" ignore missing %}
{% include "notreadyandnotincluded_concordanceoptions.html" ignore missing %}

<script src="{{ url_for('static', filename='autocomplete.js') }}"></script>
<script src="{{ url_for('static', filename='ui-clicks.js') }}"></script>
<script src="{{ url_for('static', filename='lexical.js') }}"></script>
<script>
    $(document).ready( function () {
        document.title = 'Text and Concordance Maker'
        $('#worksautocomplete').hide();
        $('#browserdialog').hide();
        $('#lexicadialog').hide();
        $('#dictdialog').hide();
        $('#level05').hide();
        $('#level04').hide();
        $('#level03').hide();
        $('#level02').hide();
        $('#level01').hide();
        $('#level00').hide();

    });

</script>

<p class="small center">{{ time }}s</p>

<p class="center">
    <a href ="/"><button id="back" class="ui-button ui-corner-all ui-widget ui-button-icon-only" title="Back to the main page">
        <span class="ui-icon ui-icon-arrowreturnthick-1-w"></span><span class="ui-button-icon-space"> </span>&nbsp;</button></a>
</p>

{% if mode==0 %}
  <h1 class="center">Concordance for {{ author }},&nbsp;<span class="title">{{ title }}</span>&nbsp;{{ segment }}</h1>
    <p class="center">{{ count }} words found</p>
{% elif mode==1 %}
    <h1 class="center">Words unique to <span class="title">{{ title }}</span> within the corpus of {{ author }}</h1>
    <p class="center">{{ count }} words found</p>
{% elif mode==2 %}
    <h1 class="center">Concordance to the works of {{ author }}</h1>

    <p class="center">{{ count }} words found</p>


    <h3>Key:</h3>
    {% for work in allworks %}
    {{ work }}</br />
    {% endfor %}
{%endif%}


{% if mode != 99 %}
    <table>
        {% if mode != 2 %}
        <caption>citation format: {{ structure }}</caption>
        {%endif%}
    {% autoescape false %}
        <tr>
            <th>word</th>
            <th>count</th>
            <th>passages</th>
        </tr>
    {% for result in results %}
        <tr>
            <td class="word"><observed id="{{ result[0] }}">{{ result[0] }}</observed></td>
            <td class="count">{{ result[1] }}</td>
            <td class="passages">{{ result[2] }}</td>
        </tr>
    {% endfor %}
    </table>
    {% endautoescape %}
{% endif %}


{% endblock %}
