<div id="helptabs">
    <ul>
        <li><a href="#Interface"><span>Interface</span></a></li>
        <li><a href="#Browsing"><span>Browsing</span></a></li>
        <li><a href="#Dictionaries"><span>Dictionaries and word counts</span></a></li>
        <li><a href="#MakingSearchLists"><span>Searching: Building search lists</span></a></li>
        <li><a href="#HitsAndMisses"><span>Searching: Hits and Misses</span></a></li>
        <li><a href="#RegexSearching"><span>Searching: REGEX</span></a></li>
        <li><a href="#SpeedSearching"><span>Searching: Speed</span></a></li>
        <li><a href="#Oddities"><span>Peculiarities and Gotchas</span></a></li>
        <li><a href="#Openness"><span>Openness</span></a></li>
    </ul>

    <div id="Interface"><!-- placeholder --></div>
    <div id="Browsing"><!-- placeholder --></div>
    <div id="Dictionaries"><!-- placeholder --></div>
    <div id="MakingSearchLists"><!-- placeholder --></div>
    <div id="HitsAndMisses"><!-- placeholder --></div>
    <div id="RegexSearching"><!-- placeholder --></div>
    <div id="SpeedSearching"><!-- placeholder --></div>
    <div id="Oddities"><!-- placeholder --></div>
    <div id="Openness"><!-- placeholder --></div>
</div>