    <div id="lexica">
        <br />
        <input type="text" name="lexicon" class="lexica" id="lexicon" placeholder="(Dictionary Search)">
        <input type="text" name="parser" class="lexica" id="parser" placeholder="(Morphology Search)">
        <input type="text" name="reverselexicon" class="lexica" id="reverselexicon" placeholder="(English to Greek or Latin)">
        <button id="lexicalsearch" class="ui-button ui-corner-all ui-widget ui-button-icon-only" title="Search dictionary or parser"><span class="ui-button-icon ui-icon ui-icon-search"></span><span class="ui-button-icon-space"> </span>&nbsp;</button>
    </div>