<div id="clickforhelp">
     <span id="helpbutton" title="Help" class="ui-icon ui-icon-help"></span>
</div>

<div id="upperleftbuttons">
    <span id="openoptionsbutton" class="ui-icon ui-icon-gear" title="Configuration options"></span>
    {%  if havevectors %}<span id="vector_options_button" class="ui-icon ui-icon-arrowthick-1-ne" title="Vector options"></span>{% endif %}
    <span id="moretools" title="Lexical tools" class="ui-icon ui-icon-wrench"></span>
    <span id="clear_button" class="ui-icon ui-icon-close" title="Reset session/Clear search"></span>
</div>

<div id="bottommessage">
    <span id="cookiemessage">Enable <span class="outline red">cookies</span> and/or <span class="outline red">javascript</span> in your browser and then reload this page.</span>
</div>
