<div id="clickforhelp">
     <span id="helpbutton" title="Help" class="ui-icon ui-icon-help"></span>
</div>

<div id="upperleftbuttons">
    <span id="openoptionsbutton" class="ui-icon ui-icon-gear" title="Configuration options"></span>
    <span id="moretools" title="Lexical tools" class="ui-icon ui-icon-wrench"></span>
    <span id="clear_button" class="ui-icon ui-icon-close" title="Reset session/Clear search"></span>
</div>