
<div id="moreinfotabs">
<ul>
<li><a href="#Interface"><span>Interface</span></a></li>
<li><a href="#Browsing"><span>Browsing</span></a></li>
<li><a href="#MakingSearchLists"><span>Searching: Building search lists</span></a></li>
<li><a href="#RegexSearching"><span>Searching: REGEX</span></a></li>
<li><a href="#Technology"><span>Technology</span></a></li>
<li><a href="#Oddities"><span>Peculiarities and Gotchas</span></a></li>
</ul>

<div id="Interface">
<p class="interfacetips">
<button class="ui-button ui-corner-all ui-widget ui-button-icon-only" title="Help">
    <span class="ui-icon ui-icon-help"></span>
    <span class="ui-button-icon-space"> </span>&nbsp;</button>

    <span class="label">Open/Close info panel</span></p>
    <p class="explanation">If you are reading this, then you have already harnessed half of this button's power.</p>

<p class="interfacetips">
<button class="ui-button ui-corner-all ui-widget ui-button-icon-only" title="Reset session">
    <span class="ui-icon ui-icon-close"></span>
    <span class="ui-button-icon-space"> </span>&nbsp;</button>

    <span class="label">Clear session</span></p>
    <p class="explanation">This will reset all session variables. Strong stuff. Search criteria, etc. will all be cleared.</p>

<p class="interfacetips">
<button class="ui-button ui-corner-all ui-widget ui-button-icon-only" title="Include this category and/or genre">
    <span class="ui-icon ui-icon-plus"></span>
    <span class="ui-button-icon-space"> </span>&nbsp;</button>

    <span class="label">Add to search list.</span></p>
    <p class="explanation">Whatever you see in the selection boxes will be added to the 'searching within' list. See the tab
    <span class="italic">Searching: Building search lists for details.</span></p>

<p class="interfacetips">
<button class="ui-button ui-corner-all ui-widget ui-button-icon-only" title="Exclude this category and/or genre">
	<span class="ui-icon ui-icon-minus"></span>
	<span class="ui-button-icon-space"> </span>&nbsp;</button>

	<span class="label">Add to exclusion list.</span></p>
	<p class="explanation">Whatever you see in the selection boxes will be added to the list of things that will not be searched.
    See the tab <span class="italic">Searching: Building search lists for details.</span></p>

<p class="interfacetips">
<button class="ui-button ui-corner-all ui-widget ui-button-icon-only" title="More search choices">
    <span class="ui-icon ui-icon-arrowreturnthick-1-s"></span>
    <span class="ui-button-icon-space"> </span>&nbsp;</button>

    <span class="label">Show additional corpora</span></p>
    <p class="explanation">Make further selection criteria avalable.</p>

<p class="interfacetips">
<button class="ui-button ui-corner-all ui-widget ui-button-icon-only" title="More search choices">
    <span class="ui-icon ui-icon-arrowreturnthick-1-n"></span>
    <span class="ui-button-icon-space"> </span>&nbsp;</button>

    <span class="label">Hide additional corpora</span></p>
    <p class="explanation">Make further selection criteria unavalable.</p>

<p class="interfacetips">
    <button class="ui-button ui-corner-all ui-widget ui-button-icon-only" title="Lexical tools">
    <span class="ui-icon ui-icon-wrench"></span>
    <span class="ui-button-icon-space"> </span>&nbsp;</button>

    <span class="label">Open/Close lexical tools panel</span></p>
    <p class="explanation">Look up words in the dictionary. Parse words.</p>

<p class="interfacetips"><button class="ui-button ui-corner-all ui-widget ui-button-icon-only" title="Search">
    <span class="ui-button-icon ui-icon ui-icon-search"></span>
    <span class="ui-button-icon-space"> </span>&nbsp;</button>

    <span class="label">Perform a search</span></p>
    <p class="explanation">Will search based on the information in the neighboring boxes.</p>

<p class="interfacetips">
    <button class="ui-button ui-corner-all ui-widget ui-button-icon-only" title="Configuration options">
    <span class="ui-icon ui-icon-gear"></span>
    <span class="ui-button-icon-space"> </span>&nbsp;</button>

    <span class="label">Open/Close settings panel</span></p>
    <p class="explanation">Changes your preferences here.</p>

<p class="interfacetips">
    <button id="concordance" class="ui-button ui-corner-all ui-widget ui-button-icon-only" title="Build a concordance for this work">
    <span class="ui-icon ui-icon-newwin"></span>
    <span class="ui-button-icon-space"> </span>&nbsp;</button>

    <span class="label">Build a concordance</span></p>
    <p class="explanation">A concordance for the current work will be built in a new window. The time required increases dramatically as works get longer.
    And it will take a very long time indeed to compile a concordance for something like Cassius Dio's <span class="italic">Historiae Romanae</span>.
        Then again, how long would it take to do this by hand?</p>

<p class="interfacetips">
    <button class="ui-button ui-corner-all ui-widget ui-button-icon-only" title="Show/Hide local info about the works of this author">
    <span class="ui-icon ui-icon-person"></span>
    <span class="ui-button-icon-space"> </span>&nbsp;</button>
    <span class="label">Show/Hide local info about the works of this author</span></p>
    <p class="explanation">Take a peek at the database info attached to this author: genre classification of the author and the individual works;
        date assigned; works of the author; editions from which the works are taken.</p>

<p class="interfacetips">
    <button class="ui-button ui-corner-all ui-widget ui-button-icon-only" title="Show/Hide list of available categories">
    <span class="ui-icon ui-icon-clipboard"></span>
    <span class="ui-button-icon-space"> </span>&nbsp;</button>
    <span class="label">Show/Hide list of available categories</span></p>
    <p class="explanation">View the list of categories into which authors and works have been sorted.
    This option is only visible inside of 'further selection criteria' (<span class="ui-icon ui-icon-arrowreturnthick-1-s"></span>)</p>
<p class="interfacetips">
    <button class="ui-button ui-corner-all ui-widget ui-button-icon-only" title="Complicate the search">
    <span class="ui-button-icon ui-icon ui-icon-arrow-1-e"></span>
    <span class="ui-button-icon-space"> </span>&nbsp;</button>
    <span class="label">Open complex searching options</span></p>
    <p class="explanation">Search for X near Y and within N words/lines</p>
</div>

<div id="Browsing">
<p class="interfacetips">
<button class="ui-button ui-corner-all ui-widget ui-button-icon-only" title="Browse backwards (click or press the &#8592; key)">
    <span class="ui-icon ui-icon-arrowthick-1-w">&nbsp;</span>
    <span class="ui-button-icon-space"> </span>&nbsp;</button>&nbsp;&nbsp;&nbsp;&nbsp;
    <span class="label">Browse backwards (click or press the &#8592; key)</span></p>

<p class="interfacetips">
    <button class="ui-button ui-corner-all ui-widget ui-button-icon-only" title="Close the browser">
    <span class="ui-icon ui-icon-close">&nbsp;</span>
    <span class="ui-button-icon-space"> </span>&nbsp;</button>&nbsp;&nbsp;&nbsp;&nbsp;
    <span class="label">Close the browser</span></p>

<p class="interfacetips">
    <button class="ui-button ui-corner-all ui-widget ui-button-icon-only" title="Browse forwards (click or press the &#8594; key)">
    <span class="ui-icon ui-icon-arrowthick-1-e">&nbsp;</span>
    <span class="ui-button-icon-space"> </span>&nbsp;</button>&nbsp;&nbsp;&nbsp;&nbsp;
    <span class="label">Browse forwards (click or press the &#8594; key)</span></p></p>
</div>

<div id="MakingSearchLists">
<button class="ui-button ui-corner-all ui-widget ui-button-icon-only" title="Include this category and/or genre">
    <span class="ui-icon ui-icon-plus"></span>
    <span class="ui-button-icon-space"> </span>&nbsp;</button>
    <span class="label">Add an item to the search list</span><br />
    <p class="explanation">Use the information in the box or boxes to the left of this button to append an item to the list of things one is searching for.
    These can be whole authors, whole works, parts of works, whole classes of authors, and whole classes of work.</p>

    <p class="explanation">For example: adding the author <span class="emph">Plato</span> and the class <span class="emph">Tragici</span>, you could compare Plato and tragedians.
    Similarly the author <span class="emph">Plato</span> and the work genre <span class="emph">Satyr.</span> would let you compare Plato and satyr plays.
    Likewise the work <span class="emph">Thucydides, <span class="italic">Historiae</span></span> could be combined with <span class="emph">Herodotus, <span class="italic">Historiae</span></span>.
    This could be further refined down to <span class="emph">Thucydides, <span class="italic">Historiae</span> Book 1</span> and <span class="emph">Herodotus, <span class="italic">Historiae</span> Book 1</span>.
    In fact absurd levels of specificity can be chosen: <span class="emph">Thucydides , <span class="italic">Historiae</span> Book 1, chapter 114, section 2, line 2</span> is a perfectly valid selection.
    </p>

<button class="ui-button ui-corner-all ui-widget ui-button-icon-only" title="Exclude this category and/or genre">
    <span class="ui-icon ui-icon-minus"></span>
    <span class="ui-button-icon-space"> </span>&nbsp;</button>
    <span class="label">Add an item to the exclusion list</span><br />
    <p class="explanation">Use the information in the box or boxes to the left of this button to append an item to the list of things one is not going to search for.
    These can be whole authors, whole works, parts of works, whole classes of authors, and whole classes of work.</p>
    <p class="explanation">For example: adding the author <span class="emph">Plato</span> and the class <span class="emph">Tragici</span> to the exclusion list, you could search for the use of a term outside of Plato and Tragedy.
    Mixing inclusions and exclusions can produce interesting possibilities: the author <span class="emph">Plutarch</span> as a selection and the work genre <span class="emph">Biogr.</span> as an exclusion yields all of Plutarch but for the <span class="italic">Lives</span>.
    Similarly adding <span class="emph">Homer</span> and <span class="emph">Epici</span> and excluding <span class="emph"><span class="italic">Ilias</span></span> and then setting the time restriction to 850BCE to 500 CE will give you non-Iliadic early epic. Consider tossing in some <span class="emph">Hymn.</span> for good measure...
    It is also possible to search something like <span class="emph">Herodotus, <span class="italic">Histories</span></span> less books 1 and 2 by adding the former to the selection list and the latter to the exclusion list.
    But excluding a subsection within a section is not supported: Book 1 less section 1 has not been implemented and probably never will be.
    </p>

<p><span class="ui-button-icon ui-icon ui-icon-trash" title="Drag here to remove item from list">&nbsp;</span>
    <span class="label">Remove item from list</span></p>
    <p class="explanation"><span class="emph">Click and drag</span> items from the include/exclude list here. Release the mouse button. Boom: the item is gone.
    </p>


<p><span class="ui-button-icon ui-icon ui-icon-info" title="Show/hide details of the current search list">&nbsp;</span>
    <span class="label">Check the contents of your current search list</span></p>
    <p class="explanation">If you searched now for <span class="emph">Tragici</span> what text would you in fact search? Click on the <span class="emph">info</span> button to find out.
    This should give you a list of <span class="emph">works</span> that reflect all of the inclusions and exclusions currently in effect.
    </p>

    <fieldset><legend>Earliest date to search</legend><input type="text" value="-850" width="25px;"></fieldset>
    <fieldset><legend>Latest date to search</legend><input  type="text" value="1500" width="25px;"></fieldset>
    <p class="explanation">Choose a chronological span within which to limit the search. Note that the dates assigned to authors are very approximate
    and derived from original data that can look like <code>i-iii A.D.</code>. Such an author would be assigned to <code>200 CE</code>. <code>iv B.C</code> becomes <code>350 BCE</code>. A variety of quirks in the
    original data has become a variety of quirks here. Similarly many authors have no date at all and some works
        have a variety of dates because they are composite. You enable searches for <code>Varia</code> and/or <code>Incerta</code>
        if you have a time restriction on your search. A search with no restriction will include such texts automatically. <span class="emph">Otherwise they are excluded</span>.
        Check your search lists (<span class="ui-button-icon ui-icon ui-icon-info" title="Show/hide details of the current search list">&nbsp;</span>)
    to make sure you are getting what you want. Searching within a date range that is smaller than one century is likely to yield some measure of disappointment.
    Users are quite free to update authors with their own superior dates, but that requires learning SQL. Please consider sharing with others any/all improvements that you make to the original data.<br />
    <br />
    Note that there is a conflict between time as an exclusion principle and the selection list. Which should take priority? This question has been resolved as follows:
        <span class="emph">specific selections take priority over more general chronological exclusions</span>. And so:
    <ul class="forexample">
        <li>zero selections + no date restriction (-850 to 1500): search <span class="emph">all active corpora</span></li>
        <li>zero selections + a date restriction: search for everybody within that date range; e.g., <span class="emph">5th century BCE Greek authors</span> (if this is your only active corpus)</li>
        <li>zero selections + a class or classes + a date restriction: search for all members of the class(es) within that date range; e.g. <span class="emph">epic before 1 C.E.</span></li>
        <li>an author/work/passage + a class or classes + a date restriction: search for the specific item(s) and search for all members of the class(es) within that date range;
            e.g. <span class="emph">Plutarch's <span class="italic">Solon</span></span> and <span class="emph">4th century BCE Greek orators</span></li>
    </ul>
    </p>
</div>

<div id="RegexSearching">

Regex is a dark art unto itself. Consult the <a href="https://www.postgresql.org/docs/9.6/static/functions-matching.html">manual directly</a>.
<br /><br />
The more salient things to know/use:
    <ul class="forexample">>
        <li><code>[abc]</code> brackets a set of acceptable characters to look for in the next position: a, or b, or c. <code>lauda[st]</code> will find laudas or laudat but not laudare. </li>
        <li><code>[^abc]</code> brackets a set of characters to exclude in the next position: not a, nor b, nor c. <code>lauda[^t]</code> is a search that refuses to find laudat, but it will find laudant.</li>
        <li><code>(a|b|abc)</code> brackets a set of strings to look for: a, or b, or abc. <code>laud(o|as|at)</code> is a search for the present singular indicative forms of laudare. It will also find conlaudat. Note how you could use <code>co(n|l)laud</code> to make sure you got alternate spellings of conlaudare.</li>
        <li><code>.</code> any character: <code>laud.nt</code> will find laudant, laudent, and, theoretically, laudZnt</li>
        <li><code>\s</code> whitespace: \ssed\setiam\s is a search for ' sed etiam '. Please use the 'within 1 word' function instead of /s unless you know why you are not doing so.
    </ul>
<br />
Here are some examples that give you an idea of the sort of things that are possible:
    <ul class="forexample">
        <li><code>\s\w\w\s\w\w\s\w\w\s\w\w\s</code> will find all runs of four words of two letters each.</li>
        <li><code>[aeiou]m[aeiou]m[aeiou]m</code> will find words that have 'vowel + m + vowel + m + vowel + m' (i.e., amomum, cardamomum, cinnamomum, pantomimum) </li>
        <li><code>\snon solum\s(\w*?)\ssed etiam</code> will find all places where <span class="lat">non solum... sed etiam...</span> bracket just a single word.</li>
    </ul>
Unfortunately a lot of swanky heavy duty regex searches do not make sense: the DB is organized as a collection of 'lines', and the sort of multi-line searching
via regex that one might do in a flat text file will fail.


</div>

<div id="Technology">
    The following are required. Version numbers should be considered to be the minimum acceptable values.
    <ul>
        <li>Python 3.6</li>
        <li>PostgreSQL 9.6</li>
        <li>Javascript</li>
        <li>jQuery 3.1</li>
    </ul>

</div>

<div id="Oddities">
    The original data was not really designed to be aggregated. It was also not meant to be sliced up after this fashion.
    Various oddities and peculiarities ensue.

    <br />
    <p><span class="label">Missing in action</span></p>
    <ul class="forexample">
        <li>The Latin authors data is missing:
            <ul>
                <li>Dates</li>
                <li>Author Genres</li>
                <li>Author Locations</li>
                <li>Work Genres</li>
                <li>Work Locations</li>
            </ul>
        </li>
        <li>The Greek authors data is missing:
            <ul>
                <li>[nothing]</li>
            </ul>
        </li>
        <li>The papyrus data is missing:
            <ul>
                <li>Author Genres</li>
                <li>Author Locations</li>
                <li>Work Genres</li>
            </ul>
        </li>
        <li>The inscriptions data (I & II) is missing:
            <ul>
                <li>Author Genres</li>
            </ul>
        </li>
    </ul>

    <p><span class="label">Internal heterogeneity</span></p>
        <ul class="forexample">
            <li><span class="emph">Dates</span>
                <ul class="numbered">
                    <li>The dates recorded with the <span class="emph">Greek authors</span> are not of the same sort as those recorded with the papyri and inscriptions.
                        The Greek authors data is derived from LSJ and it originally looks like <code>A.D. 2–3?</code>. Some
                        items are listed as <code>Varia</code> or <code>Incerta</code>.

                            In short, these dates are approximate and inexact.
                            Everything gets converted to the center of any available century or range of centuries.
                            All questions are ignored.

                            <ul class="roman">
                                <li><code>4 BC ==> 350 BCE</code></li>
                                <li><code>A.D. 2–3? ==> 200 CE</code></li>
                            </ul>

                        The net result is that it is very easy to exclude authors by being over-refined in your search. <span class="emph">The margin of error is at least 50 years</span>.

                        </li>
                        <li>
                            The dates recorded with the <span class="emph">papyri</span> and the <span class="emph">inscriptions</span> vary from <code>?</code> to something very precise like <code>212 CE</code>. Hipparchia has
                            parsed the dates that the editors have assigned to these items as best as it can. Please note that there are
                            <span class="emph">21584</span> distinct <code>recorded_date</code> values in the works table. Some of these are in German, some use Roman numerals, some use 'a' and 'p',
                            some 'BC' and 'AD', some ordinal numbers, some cardinal numbers. Some merely say 'the age of X'. It's not easy to get all of these right
                            (even if the editorial date is itself accurate...). It is not even easy to check that they are right.
                            As above, all questions are dropped and all spans are turned into a single number representing the midpoint.
                            'Ages' have had dates assigned to them. Claudius will be the middle of the reign, approximately: 50 CE.
                            'Byzantine' is a bit trickier... 700 CE has been chosen for lack of some other solution.
                            Rough/round numbers have been chosen where something specific is not available. Many items are dated precisely,
                            many to within a decade, others are lucky to be assigned to the right century. Check the editor's date
                            (if available...) at the top of any inscription to see where the <code>assigned_date</code> came from.
                            <span class="emph">Avoid over-refined searches</span>
                            unless you know that you do not care about items that have not been dated with some precision.

                        </li>
                </ul>
            </li>
            <li><span class="emph">Author Locations</span>
                <ul class="numbered">
                    <li>
                        The locations recorded with the <span class="emph">Greek authors</span> are not of the same sort as those recorded with the papyri and inscriptions.
                        The Greek authors data is derived from LSJ and it originally looks like <code>Athenae</code>,
                        <code>Ilium [vel Troja]</code>, and <code>Sinope</code>. <span class="emph">Many authors have no location
                        recorded</span>. Be careful not to throw out more authors than you mean to by putting too much confidence in this data.
                    </li>
                    <li>
                        The locations for <span class="emph">inscription</span> 'authors' is inferential. If the name of the corpus contains something that
                        looks like a location, it has been grabbed: <code>Attica</code> for example. Note that <code>Attica</code> is not <code>Athenae</code>: you would need
                        to ask for both locations to get IG's Attica + LSJ's Attic authors. Some sets of inscriptions come from more than one
                        place: <code>Cos and Calymna</code>, for example, and not just <code>Cos</code>.
                        Furthermore many corpora do not have any (pseudo-)locations that can be inferred from their name: for example,
                        <code>Late Antique Latin</code> is not a place, at least not a literal one.
                    </li>
                </ul>
            </li>
            <li><span class="emph">Work Locations</span>
              <ul class="numbered">
        <li>
            There are 14001 distinct locations on offer. That's a painfully large number. It is not at all easy to
            pare these down in an automated fashion. 110 start with 'Alex'. Some of these could be folded into one
            another, but the data has many shapes, and no decision has been made yet about where/how to make the unkind cuts.
        </li>
        <li>
            Some items have both a region and a city recorded. Only the city is searchable for now. The uneven distribution
            of regional assignments means that searching by region would be misleading.
        </li>
    </ul>
            </li>
            <li><span class="emph">Missing characters and display quirks</span>
                <ul class="numbered">
                    <li>
                        There are various unprintable characters in the original data. These fall under various headings
                    </li>
                        <ul class="roman">
                            <li>
                                Idiosyncratic characters that have no unicode representation. You will see <span class="emph">◦</span> in the text. If you look at
                                the database and/or HTML output you will see a code number:
                                <code>hmu_idiosyncratic_char value="1122"</code>, e.g.
                                This can be decoded via the Betacode manual.
                                It is possible to know what was in the text, but it is not possible to display it, at least not yet.
                            </li>
                            <li>
                                Undocumented characters are all rendered as <span class="emph">⊚</span>. If you look at
                                the database and/or HTML output you will see a code number:
                                <code>hmu_undocumented_poundsign value="1069"</code>, e.g.
                                The original data has either been misparsed or it yielded a value that is not present in the Betacode manual.
                                Further documentation ought to make it possible to put the proper character in here.
                            </li>
                            <li>
                                Some characters will not display becuase they have been properly encoded but they are missing from your fonts.
                                They will display properly if/when you get a font that supports them.
                            </li>
                        </ul>
                    <li>
                        Formatting instructions have typically been followed: make the font bigger, superscript, cross out... But not
                        all of the codes found have been documented. And some are too painful to implement: start multi-column display,
                        reverse text direction, writing perpendicular to main text, ... Probing the database will usually let you know what was found.
                        But it most of these items are unlikely to ever be supported.
                    </li>
                    <li>
                        Brackets that converge with HTML or other markup have typically been replaced with a near equivalent: <code>&lt;</code>
                        signals markup instructions to a page renderer. Left and right angled bracket were swapped out.
                        They are present in the database with other characters instead: <span class="emph">⟪</span> and <span class="emph">⟫</span>.
                        A similar logic governed the choice of <span class="emph">⦅</span> and <span class="emph">⦆</span>
                        since <code>(</code> and <code>)</code> are special characters in betacode.
                        There are other (hopefully) inconsequential items that fall under this heading.
                    </li>

                </ul>
            </li>
            </ul>

</div>

</div>
