    <div id="outputbox">
        <table id="selectionstable">
            <tbody>
                <tr>
                    <th colspan="5" id="timerestrictions"></th>
                </tr>
                <tr>
                    <td class="infocells" id="selectioninfocell" width="47%" title="Selection list">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </td>
                    <td style="text-align: center;" id="jscriptwigetcell" width="6%">
                        <p id="searchinfo"><span class="ui-button-icon ui-icon ui-icon-info" title="Show/hide details of the current search list">&nbsp;</span></p>
                    </td>
                    <td class="infocellx" id="exclusioninfocell" width="47%" title="Exclusion list">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </td>
                </tr>
            </tbody>
        </table>
        <p id="authoroutputcontent"></p>
        <div id="searchlistcontents">(this might take a second...)</div>
    </div>