<div id="savedprofiles">
    <span id="togglesaveslots" class="ui-icon ui-icon-disk" title="Pick a save slot into which to save your current session"></span><br />
    <div id="saveslots">
        <span class="saveoptions" title="Save to slot 1" id="save01">➊</span><br />
        <span class="saveoptions" title="Save to slot 2" id="save02">➋</span><br />
        <span class="saveoptions" title="Save to slot 3" id="save03">➌</span><br />
        <span class="saveoptions" title="Save to slot 4" id="save04">➍</span><br />
        <span class="saveoptions" title="Save to slot 5" id="save05">➎</span><br />
    </div>
    <span id="toggleloadslots" class="ui-icon ui-icon-folder-open" title="Pick a save slot from which to load stored session"></span><br />
    <div id="loadslots">
        <span class="loadoptions" title="Load from slot 1" id="load01">➀</span><br />
        <span class="loadoptions" title="Load from slot 2" id="load02">➁</span><br />
        <span class="loadoptions" title="Load from slot 3" id="load03">➂</span><br />
        <span class="loadoptions" title="Load from slot 4" id="load04">➃</span><br />
        <span class="loadoptions" title="Load from slot 5" id="load05">➄</span>
    </div>
</div>