{% extends "base.html" %}

{% block content %}
<!-- extend from base layout -->
    {% include "setoptions.html" ignore missing %}
    {% autoescape false %}{{ vectoroptionshtml }}{% endautoescape %}

<div id="mainbody">
    <!-- "mainbody" allows the option sidebar to push the page contents right -->
    {% include "searchfield.html" ignore missing %}
    {% include "lexica.html" ignore missing %}
    {% include "outputbox.html" ignore missing %}
    {% include "saveslots.html" ignore missing %}
    {% include "activeoptions.html" ignore missing %}
    {% include "hipparchiahelp.html" ignore missing %}
    {% include "wordsearchfields.html" ignore missing %}
    {% include "browserdialog.html" ignore missing %}

    <div id="lexicadialog">
        <div id="lexicadialogtext"></div>
    </div>

    <div id="searchsummary"></div>
    <div id="pollingdata"></div>
    <!--
    <div id="imagearea"></div>
        off because this div is added by vectorformatting.py when it sends the table to #displayresults
    -->

    <!-- the div where just the results get inserted... -->
    <div id="displayresults">

    </div>

    <!-- blank divs just to hold scripts for injection later -->
    <div id="browserclickscriptholder"> </div>
    <div id="indexclickscriptholder"> </div>
    <div id="vectorspinnerscriptholder"> </div>
    <div id="selectionscriptholder"> </div>
    <div id="lexicaljsscriptholder"> </div>
    <!-- misc ui elements -->
    {% include "miscuielements.html" ignore missing %}
    {% include "authentication.html" ignore missing %}
</div>

 <!-- load uielementlists first: others will use its values -->
<script src="{{ url_for('static', filename='uielementlists.js') }}"></script>

<script src="{{ url_for('static', filename='progressindicator.js') }}"></script>
<script src="{{ url_for('static', filename='authentication.js') }}"></script>
<script src="{{ url_for('static', filename='autocomplete.js') }}"></script>
<script src="{{ url_for('static', filename='indexandtextmaker.js') }}"></script>
<script src="{{ url_for('static', filename='coreinterfaceclicks.js') }}"></script>
<script src="{{ url_for('static', filename='radioclicks.js') }}"></script>
<script src="{{ url_for('static', filename='vectorclicks.js') }}"></script>
<script src="{{ url_for('static', filename='nonvectorspinners.js') }}"></script>
<script src="{{ url_for('static', filename='cookieclicks.js') }}"></script>
<script src="{{ url_for('static', filename='browser.js') }}"></script>

 <!-- load documentready last: calls on too much that is above -->
<script src="{{ url_for('static', filename='documentready.js') }}"></script>

<!-- 3d vector js -->
<script src="{{ url_for('static', filename='3d/popper.min.js') }}"></script>
<script src="{{ url_for('static', filename='3d/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='3d/three.min.js') }}"></script>
<script src="{{ url_for('static', filename='3d/OrbitControls.js') }}"></script>
<script src="{{ url_for('static', filename='3d/Lut.js') }}"></script>

{% endblock %}