{% extends "base.html" %}

{% block content %}
<!-- extend from base layout -->
    {% include "setoptions.html" ignore missing %}

<div id="mainbody">
    <!-- "mainbody" allows the option sidebar to push the page contents right -->
    {% include "searchfield.html" ignore missing %}
    {% include "lexica.html" ignore missing %}
    {% include "outputbox.html" ignore missing %}
    {% include "saveslots.html" ignore missing %}
    {% include "activeoptions.html" ignore missing %}
    {% include "hipparchiahelp.html" ignore missing %}
    {% include "wordsearchfields.html" ignore missing %}
    {% include "browserdialog.html" ignore missing %}

    <div id="lexicadialog">
        <div id="lexicadialogtext"></div>
    </div>

    <div id="searchsummary"></div>
    <div id="pollingdata"></div>
    <!--
    <div id="imagearea"></div>
        off because this div is added by vectorformatting.py when it sends the table to #displayresults
    -->

    <!-- the div where just the results get inserted... -->
    <div id="displayresults">

    </div>

    <!-- blank divs just to hold scripts for injection later -->
    <div id="browserclickscriptholder"> </div>
    <div id="indexclickscriptholder"> </div>
    <div id="selectionscriptholder"> </div>

    <!-- misc ui elements -->
    {% include "miscuielements.html" ignore missing %}

</div>

<script src="{{ url_for('static', filename='autocomplete.js') }}"></script>
<script src="{{ url_for('static', filename='indexandtextmaker.js') }}"></script>
<script src="{{ url_for('static', filename='ui-clicks.js') }}"></script>
<script src="{{ url_for('static', filename='hipparchia_browser.js') }}"></script>
<script src="{{ url_for('static', filename='documentready.js') }}"></script>

{% endblock %}