<div id="setoptionsnavigator" class="sidenavigation">
    <div id="alt_upperleftbuttons">
        <span id="closeoptionsbutton" class="ui-icon ui-icon-gear" title="Configuration options"></span>
        <span id="alt_moretools" title="Lexical tools" class="ui-icon ui-icon-wrench"></span>
        <span id="alt_clear_button" class="ui-icon ui-icon-close" title="Reset session/Clear search"></span>
    </div>
    <br />
    <p class="optionlabel">Corpora to search</p>
    <p class="optionitem">
        {% for list in activelists %}
        {% if list == 'gr' %}{{clab['g']}} <input type="checkbox" id="greekcorpus" value="no" title="Greek authors ">{% endif %}
        {% if list == 'lt' %}&middot;&nbsp;{{clab['l']}}&nbsp;<input type="checkbox" id="latincorpus" value="no" title="Latin authors">{% endif %}
        {% if list == 'dp' %}&middot;&nbsp;{{clab['d']}}&nbsp;<input type="checkbox" id="papyruscorpus" value="no" title="Documentary papyri">{% endif %}
        {% if list == 'in' %}&middot;&nbsp;{{clab['i']}}&nbsp;<input type="checkbox" id="inscriptioncorpus" value="no" title="Inscriptions I (IG, SEG, etc.)">{% endif %}
        {% if list == 'ch' %}&middot;&nbsp;{{clab['c']}}&nbsp;<input type="checkbox" id="christiancorpus" value="no" title="Inscriptions II (Cla., Lt. Antiq., Med.; Christ.)">{% endif %}
      {% endfor %}
    </p>

    <p class="optionlabel">Maximum number of search results to return</p>
    <p class="optionitem">
        <input id="hitlimitspinner" type="text" value="500" width="20px;">
    </p>

    <p class="optionlabel">Limit to one hit per author</p>
    <p class="optionitem">
        <label for="onehit_y">yes
        <input name="onehit" id="onehit_y" value="yes" type="radio"></label>
        <label for="onehit_n">no
        <input name="onehit" id="onehit_n" value="no" type="radio"></label>
    </p>

    <p class="optionlabel">Lines of context to accompany search results</p>
    <p class="optionitem">
        <input id="linesofcontextspinner" type="text" value="6" width="20px;">
    </p>

    <p class="optionlabel">Sort results by</p>
    <p class="optionitem">
         <select name="sortresults" id="sortresults">
            <option value="shortname">Name</option>
            <option value="converted_date">Date</option>
            <option value="authgenre">Author Genre</option>
            <option value="location">Author Location</option>
            <option value="provenance">Work Provenance</option>
            <option value="universalid">ID Number</option>
        </select>
    </p>

    <p class="optionlabel">Lines of context in the browser window</p>
    <p class="optionitem">
        <input id="browserspinner" type="text" value="20" width="20px;">
    </p>

    <p class="optionlabel">Index by headword</p>
    <p class="optionitem">
        <label for="headwordindexing_y">yes
        <input type="radio" name="hwindex" id="headwordindexing_y" value="yes"></label>
        <label for="headwordindexing_n">no
        <input type="radio" name="hwindex" id="headwordindexing_n" value="no"></label>
    </p>

    <p class="optionlabel">Index by frequency</p>
    <p class="optionitem">
        <label for="frequencyindexing_y">yes
        <input type="radio" name="frqindex" id="frequencyindexing_y" value="yes"></label>
        <label for="frequencyindexing_n">no
        <input type="radio" name="frqindex" id="frequencyindexing_n" value="no"></label>
    </p>

    <p class="optionlabel">Lexical entries will show summaries of...</p>
    <p class="optionitem">
        senses&nbsp;<input type="checkbox" id="sensesummary" value="yes">
        &middot;&nbsp;authors&nbsp;<input type="checkbox" id="authorssummary" value="yes">
        &middot;&nbsp;quotes&nbsp;<input type="checkbox" id="quotesummary" value="yes">
    </p>

    <p class="optionlabel">Display color shifted text inside of brackets:</p>
    <p class="optionitem">
        [&nbsp;]&nbsp;<input type="checkbox" id="bracketsquare" value="yes">
        &middot;&nbsp;(&nbsp;)&nbsp;<input type="checkbox" id="bracketround" value="yes">
        &middot;&nbsp;&lt;&nbsp;&gt;&nbsp;<input type="checkbox" id="bracketangled" value="yes">
        &middot;&nbsp;{&nbsp;}&nbsp;<input type="checkbox" id="bracketcurly" value="yes">
    </p>
</div>