<div id="setoptions" class="center">
    <br />
    <fieldset>
      <legend>Corpora to search</legend>
      {% for list in activelists %}
        {% if list == 'gr' %}{{clab['g']}} <input type="checkbox" id="greekcorpus" value="no" title="Greek authors ">{% endif %}
        {% if list == 'lt' %}&nbsp;&middot;&nbsp;{{clab['l']}} <input type="checkbox" id="latincorpus" value="no" title="Latin authors">{% endif %}
        {% if list == 'dp' %}&nbsp;&middot;&nbsp;{{clab['d']}} <input type="checkbox" id="papyruscorpus" value="no" title="Documentary papyri">{% endif %}
        {% if list == 'in' %}&nbsp;&middot;&nbsp;{{clab['i']}} <input type="checkbox" id="inscriptioncorpus" value="no" title="Inscriptions I (IG, SEG, etc.)">{% endif %}
        {% if list == 'ch' %}&nbsp;&middot;&nbsp;{{clab['c']}} <input type="checkbox" id="christiancorpus" value="no" title="Inscriptions II (Cla., Lt. Antiq., Med.; Christ.)">{% endif %}
      {% endfor %}
    </fieldset>
    <fieldset>
        <legend>Lines of context to accompany search results</legend>
        <input id="linesofcontextspinner" type="text" value="6" width="20px;">
    </fieldset>
    <fieldset>
        <legend>Lines of context in the browser window</legend>
        <input id="browserspinner" type="text" value="20" width="20px;">
    </fieldset>
    <fieldset>
        <legend>Maximum number of search results to return</legend>
        <input id="hitlimitspinner" type="text" value="500" width="20px;">
    </fieldset>
    <fieldset>
        <legend>Limit to one hit per author</legend>
        <label for="onehit_y">yes
        <input type="radio" name="onehit" id="onehit_y" value="yes"></label>
        <label for="onehit_n">no
        <input type="radio" name="onehit" id="onehit_n" value="no"></label>
    </fieldset>
    <fieldset>
      <legend>Sort results by</legend>
        <select name="sortresults" id="sortresults">
            <option value="shortname">Name</option>
            <option value="converted_date">Date</option>
            <option value="authgenre">Author Genre</option>
            <option value="location">Author Location</option>
            <option value="provenance">Work Provenance</option>
            <option value="universalid">ID Number</option>
        </select>
    </fieldset>
    <fieldset>
        <legend>Index by headword</legend>
        <label for="headwordindexing_y">yes
        <input type="radio" name="hwindex" id="headwordindexing_y" value="yes"></label>
        <label for="headwordindexing_n">no
        <input type="radio" name="hwindex" id="headwordindexing_n" value="no"></label>
    </fieldset>
    <fieldset>
        <legend>Lexical entries will show summaries of...</legend>
        senses <input type="checkbox" id="sensesummary" value="yes">&nbsp;&middot;&nbsp;
        authors <input type="checkbox" id="authorssummary" value="yes">&nbsp;&middot;&nbsp;
        quotes <input type="checkbox" id="quotesummary" value="yes">
    </fieldset>
    <br />
</div>