<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}

<h1 class="center">{{ numberfound }}&nbsp;Style Samples from</h1>
<h1 class="center">"{{ css }}"</h1>
  	<table>
        {% for s in spans %} <tr>
            <td>.{{ s }}&nbsp;&nbsp;</td>
            <td><span class="{{s}}">{{s}}</span></td>
        </tr> {% endfor %}
        {% for ns in notspans %} <tr>
            <td>{{ ns }}&nbsp;&nbsp;</td>
            <td><{{ns}}>{{ns}}</{{ns}}></td>
        </tr> {% endfor %}
    </table>
{% endblock %}