    <div id="uiclickfield" class="center">
        <button id="clear_button" class="ui-button ui-corner-all ui-widget ui-button-icon-only" title="Reset session/Clear search"><span class="ui-icon ui-icon-close"></span><span class="ui-button-icon-space"> </span>&nbsp;</button>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <button id="morechoices" class="ui-button ui-corner-all ui-widget ui-button-icon-only" title="More search choices"><span class="ui-icon ui-icon-arrowreturnthick-1-s"></span><span class="ui-button-icon-space"> </span>&nbsp;</button>
        <button id="fewerchoices" class="ui-button ui-corner-all ui-widget ui-button-icon-only" title="Fewer search choices"><span class="ui-icon ui-icon-arrowreturnthick-1-n"></span><span class="ui-button-icon-space"> </span>&nbsp;</button>
        <button id="moretools" class="ui-button ui-corner-all ui-widget ui-button-icon-only" title="Lexical tools"><span class="ui-icon ui-icon-wrench"></span><span class="ui-button-icon-space"> </span>&nbsp;</button>
    </div>