<div id="wordsearchfields" class="center">
    <button id="executesearch" class="ui-button ui-corner-all ui-widget ui-button-icon-only" title="Execute the search"><span class="ui-button-icon ui-icon ui-icon-search"></span><span class="ui-button-icon-space"> </span>&nbsp;</button>
        <input id="wordsearchform" type="text" name="seeking" placeholder="(looking for...)" size=25>
        <input id="lemmatasearchform" type="text" name="lemmata" placeholder="(all forms of...)" size=25>
        <span id="termonecheckbox">
            <span class="small">λ</span><input type="checkbox" id="termoneisalemma" value="yes">
        </span>
    <button id="extendsearchbutton-ispresentlyopen" class="ui-button ui-corner-all ui-widget ui-button-icon-only" title="Complicate the search"><span class="ui-button-icon ui-icon ui-icon-arrow-1-e"></span><span class="ui-button-icon-space"> </span>&nbsp;</button>
    <button id="extendsearchbutton-ispresentlyclosed" class="ui-button ui-corner-all ui-widget ui-button-icon-only" title="Complicate the search"><span class="ui-button-icon ui-icon ui-icon-arrow-1-e"></span><span class="ui-button-icon-space"> </span>&nbsp;</button>
    <br />
    <div id="complexsearching">
        <div id="nearornot">
            <label for="wordisnear">near
            <input type="radio" name="near" id="wordisnear" value="T"></label>
            <label for="wordisnotnear">not near
            <input type="radio" name="near" id="wordisnotnear" value="F"></label>
        </div>
        <input id="proximatesearchform" type="text" name="proximate" placeholder="(near... and within...)" size=25>
        <input id="proximatelemmatasearchform" type="text" name="lemmata" placeholder="(near all forms of... and within...)" size=25>
        <span id="termtwocheckbox">
            <span class="small">λ</span><input type="checkbox" id="termtwoisalemma" value="yes">
        </span>
        <input id="proximityspinner" type="text" value="1" width="25px;">
        <label for="searchlines">lines
        <input type="radio" name="searchfor" id="searchlines" value="L"></label>
        <label for="searchwords">words
        <input type="radio" name="searchfor" id="searchwords" value="W"></label>
    </div>
    <div id="vectorzone">
        {% autoescape false %}{{ vectorhtml }}{% endautoescape %}
        <br>
        <fieldset id="trimmingcheckboxes" class="small">
            <legend>Trim results by part of speech...</legend>
            untrimmed <input type="checkbox" id="trimming-none" value="no">&nbsp;&middot;&nbsp;
            retain nouns and adjectives <input type="checkbox" id="trimming-declined" value="no">&nbsp;&middot;&nbsp;
            retain conjugated verbs <input type="checkbox" id="trimming-conjugated" value="no"><br />
        </fieldset>
    </div>
</div>
<div id="analogiesinputarea" class="center">
    <br>
    <br>
    Analogy finder:
    <br>
    A : B :: C : ___
    <br>
    <input type="text" name="analogy term A" id="analogiesinputA" placeholder="(A is to ...)">&nbsp;:&nbsp;
    <input type="text" name="analogy term B" id="analogiesinputB" placeholder="(... B)">&nbsp;::&nbsp;
    <input type="text" name="analogy term C" id="analogiesinputC" placeholder="(as C is to ...)">&nbsp;:&nbsp;
    <button id="executeanalogysearch" class="ui-button ui-corner-all ui-widget ui-button-icon-only" title="Look for analogies"><span class="ui-button-icon ui-icon ui-icon-shuffle"></span><span class="ui-button-icon-space"> </span>&nbsp;</button>
    <br>
    <br>
    <div id="analogiesresults" class="center"></div>
</div>
<br />